openapi: 3.2.0
info:
  title: Social Tables API Gateway Authentication Users API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Users
paths:
  /4.0/teams/{team_id}/users:
    get:
      tags:
      - Users
      summary: get users for a given team
      parameters:
      - $ref: '#/components/parameters/team_id-account-service'
      - $ref: '#/components/parameters/page_size-account-service'
      - $ref: '#/components/parameters/after-account-service'
      - $ref: '#/components/parameters/before-account-service'
      responses:
        '200':
          description: a paginated list of temas the user is on
          content:
            application/json:
              schema:
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/resultPaging-account-service'
                  data:
                    type: array
                    items:
                      type: object
                      description: user objects
components:
  parameters:
    team_id-account-service:
      name: team_id
      description: team ID
      in: path
      required: true
      schema:
        type: string
    after-account-service:
      name: after
      description: cursor for paging
      in: query
      required: false
      schema:
        type: string
    before-account-service:
      name: before
      description: before cursor for backpaging
      in: query
      required: false
      schema:
        type: string
    page_size-account-service:
      name: page_size
      description: page size
      in: query
      required: false
      schema:
        type: integer
        default: 50
  schemas:
    resultPaging-account-service:
      type: object
      properties:
        after:
          type: string
          description: cursor for next page
        before:
          type: string
          description: cursor for previous page
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
