openapi: 3.2.0
info:
  title: Social Tables API Gateway Diagram Template Presets API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Diagram Template Presets
paths:
  /4.0/template-presets:
    get:
      tags:
      - Diagram Template Presets
      summary: get multiple template presets
      parameters:
      - name: user
        in: query
        required: false
        schema:
          type: string
      - name: team
        in: query
        required: false
        schema:
          type: string
      - name: setup
        in: query
        required: false
        schema:
          type: string
      - name: propertyId
        in: query
        required: false
        description: filters by property id, excludes presets associated with a property if 'null'
        schema:
          type: string
      - name: catalogItemId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: returns an array of template-presets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/template-presets__template-preset-diagram-service'
        '400':
          description: validation error must specify either user or team
        '401':
          description: authorization missing or invalid
      operationId: get40TemplatePresets
      x-operation-id-source: derived
    post:
      tags:
      - Diagram Template Presets
      summary: inserts a template preset
      parameters:
      - name: event_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: inserted template preset with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template-presets__template-preset-diagram-service'
        '400':
          description: template preset not valid
        '401':
          description: authorization missing or invalid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template-presets__template-preset-post-diagram-service'
        description: the body of the template preset
        required: true
      operationId: post40TemplatePresets
      x-operation-id-source: derived
  /4.0/template-presets/{id}:
    get:
      tags:
      - Diagram Template Presets
      summary: get a template preset by id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns a template presets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template-presets__template-preset-diagram-service'
        '401':
          description: authorization missing or invalid
        '404':
          description: template preset not found
      operationId: get40TemplatePresetsById
      x-operation-id-source: derived
    delete:
      tags:
      - Diagram Template Presets
      summary: deletes a template preset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: event_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '204':
          description: OK
        '401':
          description: authorization missing or invalid
        '404':
          description: template preset not found
      operationId: delete40TemplatePresetsById
      x-operation-id-source: derived
    patch:
      tags:
      - Diagram Template Presets
      summary: updates a template preset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: event_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template-presets__template-preset-diagram-service'
        '400':
          description: template preset update not valid
        '401':
          description: authorization missing or invalid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/template-presets__template-preset-diagram-service'
        description: the body of the template preset update
        required: true
      operationId: patch40TemplatePresetsById
      x-operation-id-source: derived
components:
  schemas:
    xyPair-diagram-service:
      type: object
      additionalProperties: false
      properties:
        x:
          type: number
        y:
          type: number
    template-presets__template-preset-diagram-service:
      title: Template Preset
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        type:
          type: string
        owner_id:
          type: string
        name:
          type: string
        legacy_property_id:
          type: integer
        definition:
          type: object
          additionalProperties: false
          properties:
            template_config:
              $ref: '#/components/schemas/template-config__template-config-diagram-service'
      required:
      - definition
    dimensions-diagram-service:
      type: object
      additionalProperties: false
      properties:
        width:
          type: number
        length:
          type: number
        radius:
          type: number
    template-config__template-config-core-diagram-service:
      title: Template Config core fields
      type: object
      properties:
        setup:
          type: string
        chevronAngle:
          type: integer
        chairs:
          type: integer
        chairOrientation:
          type: string
        chairType:
          type: string
        column:
          type: object
          properties:
            spacing:
              type: number
        floorElementType:
          type: string
        chairSides:
          type: object
          additionalProperties: false
          properties:
            side_1_count:
              type: integer
            side_2_count:
              type: integer
            side_3_count:
              type: integer
            side_4_count:
              type: integer
        chair:
          type: object
          additionalProperties: false
          properties:
            size:
              $ref: '#/components/schemas/dimensions-diagram-service'
        rotation:
          type: number
        relativeRotation:
          type: number
        locations:
          type: object
          additionalProperties:
            type: string
        theaterCurve:
          type: integer
        theaterChairNumberOffset:
          type: number
        theaterChairNumberIsOddEven:
          $ref: '#/components/schemas/theaterChairNumberIsOddEven-diagram-service'
        theaterChairNumberIsReverse:
          type: boolean
        theaterChairNumbersOmitted:
          type: array
          items:
            type: integer
        sectionName:
          type: string
        sectionLabelling:
          enum:
          - alphabetical
          - numerical
          - none
          type: string
        sectionLabellingRowOffset:
          type: number
        sectionLabellingRowIsReverse:
          type: boolean
        sectionLabellingRowsOmitted:
          type: array
          items:
            type: integer
        catalogCategoryTypeItemId:
          type: integer
        chairCatalogCategoryTypeItemId:
          type: integer
        removedSeats:
          type: integer
        color:
          type: string
    theaterChairNumberIsOddEven-diagram-service:
      enum:
      - odd
      - even
      - true
      - false
    template-config__meta-diagram-service:
      title: Template Table
      type: object
      additionalProperties: false
      properties:
        rows:
          type: integer
        cols:
          type: integer
    template-config__aisle-diagram-service:
      title: Template Aisle
      type: object
      properties:
        width:
          type: number
        floorElementsBetween:
          type: number
    template-config__template-config-diagram-service:
      title: Template Config
      type: object
      allOf:
      - type: object
        properties:
          table:
            $ref: '#/components/schemas/template-config__table-diagram-service'
          aisles:
            $ref: '#/components/schemas/template-config__aisles-diagram-service'
          meta:
            $ref: '#/components/schemas/template-config__meta-diagram-service'
      - $ref: '#/components/schemas/template-config__template-config-core-diagram-service'
    template-presets__template-preset-post-diagram-service:
      title: Template Preset Post
      allOf:
      - $ref: '#/components/schemas/template-presets__template-preset-diagram-service'
    template-config__table-diagram-service:
      title: Template Table
      type: object
      additionalProperties: false
      properties:
        size:
          $ref: '#/components/schemas/dimensions-diagram-service'
        spacing:
          $ref: '#/components/schemas/xyPair-diagram-service'
        rotation:
          type: number
    template-config__aisles-diagram-service:
      title: Template Aisles
      type: object
      additionalProperties: false
      properties:
        vertical:
          $ref: '#/components/schemas/template-config__aisle-diagram-service'
        horizontal:
          $ref: '#/components/schemas/template-config__aisle-diagram-service'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
