openapi: 3.2.0
info:
  title: Social Tables API Gateway Diagrams API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Diagrams
paths:
  /4.0/diagrams:
    get:
      tags:
      - Diagrams
      summary: get multiple diagrams
      parameters:
      - name: ids
        in: query
        required: false
        schema:
          type: string
      - name: event
        in: query
        required: false
        schema:
          type: string
      - name: space
        in: query
        required: false
        schema:
          type: integer
      - name: guestlist
        in: query
        required: false
        schema:
          type: string
      - name: legacy_event
        in: query
        required: false
        schema:
          type: integer
      - name: fields
        in: query
        required: false
        schema:
          type: string
      - name: external_diagram_id
        in: query
        required: false
        schema:
          type: string
      - name: external_event_id
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: returns an array of diagrams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/diagrams__diagram-response-diagram-service'
        '400':
          description: validation error must specify either event, space, or guestlist
      operationId: get40Diagrams
      x-operation-id-source: derived
  /4.0/diagrams/{id}:
    get:
      tags:
      - Diagrams
      summary: get a diagram by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: returns a diagram
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagrams__diagram-response-diagram-service'
        '401':
          description: unauthorized
        '404':
          description: Diagram not found
      operationId: get40DiagramsById
      x-operation-id-source: derived
    delete:
      tags:
      - Diagrams
      summary: deletes a diagram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: unauthorized
        '404':
          description: diagram not found
      operationId: delete40DiagramsById
      x-operation-id-source: derived
  /4.0/diagrams/{id}/auto-seat:
    patch:
      tags:
      - Diagrams
      summary: automatically seat array of guest objects at available chairs
      parameters:
      - name: id
        in: path
        description: id of diagram to seat guests in
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagrams__seat-diagram-service'
        '400':
          description: unable to seat guests, returns an error object
        '401':
          description: unauthorized
        '404':
          description: diagram does not exist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/diagrams__auto-seat-diagram-service'
      operationId: patch40DiagramsByIdAutoSeat
      x-operation-id-source: derived
  /4.0/diagrams/{id}/guests:
    get:
      tags:
      - Diagrams
      summary: get chair and floor element information for seated guests
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns a map of guest ids to chair and fe infos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagrams__diagram-response-diagram-service'
        '401':
          description: unauthorized
        '404':
          description: Diagram not found
      operationId: get40DiagramsByIdGuests
      x-operation-id-source: derived
    delete:
      tags:
      - Diagrams
      summary: Detaches a diagram's guestlist and unseats all guests
      parameters:
      - name: id
        in: path
        description: id of diagram
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: unauthorized
        '404':
          description: diagram not found
      operationId: delete40DiagramsByIdGuests
      x-operation-id-source: derived
  /4.0/diagrams/{id}/seat:
    patch:
      tags:
      - Diagrams
      summary: seat guests at specified floor elements in a diagram
      parameters:
      - name: id
        in: path
        description: id of diagram to seat guests in
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagrams__diagram-response-diagram-service'
        '400':
          description: seating data is not valid
        '401':
          description: unauthorized
        '404':
          description: diagram does not exist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/diagrams__seat-diagram-service'
        description: object keyed by guest_id with value being object with floor_element_id and chair_id
        required: true
      operationId: patch40DiagramsByIdSeat
      x-operation-id-source: derived
  /4.0/diagrams/guestlist/{guestlistId}:
    get:
      tags:
      - Diagrams
      summary: Get a diagram by its guestlist ID
      parameters:
      - name: guestlistId
        in: path
        required: true
        schema:
          type: string
      - name: fields
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: returns a diagram
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagrams__diagram-response-diagram-service'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Diagram not found
      operationId: get40DiagramsGuestlistByGuestlistId
      x-operation-id-source: derived
components:
  schemas:
    xyPairStrict-diagram-service:
      type: object
      required:
      - x
      - y
      additionalProperties: false
      properties:
        x:
          type: number
        y:
          type: number
    diagrams__diagram-main-diagram-service:
      title: Diagram
      type: object
      allOf:
      - properties:
          space_id:
            type: integer
          session_id:
            type: string
          event_id:
            type: string
          legacy_event_id:
            type: integer
          team_id:
            description: A legacy (v2) team id.
            type: string
          floor_elements:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/floor-elements__floor-element-diagram-service'
          groups:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/groups__group-strict-diagram-service'
          sections:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/sections__section-strict-diagram-service'
          boundary_visibility:
            $ref: '#/components/schemas/diagrams__components~1boundary-visibility-diagram-service'
      - $ref: '#/components/schemas/diagrams__diagram-core-diagram-service'
    diagrams__diagram-core-diagram-service:
      title: Common diagram fields
      type: object
      properties:
        deleted:
          type: boolean
        external_diagram_id:
          type: string
        external_event_id:
          type: string
        floorPlan:
          $ref: '#/components/schemas/floor-plans__floor-plan-diagram-service'
        guestlist_id:
          type: string
        length:
          $ref: '#/components/schemas/positiveNumber-diagram-service'
        name:
          type: string
          maxLength: 255
        notes:
          $ref: '#/components/schemas/stringOrNull-diagram-service'
        prefunction_perimeter:
          $ref: '#/components/schemas/numberOrNull-diagram-service'
        rotation:
          type: number
        service_perimeter:
          $ref: '#/components/schemas/numberOrNull-diagram-service'
        sort_order:
          $ref: '#/components/schemas/numberOrNull-diagram-service'
        table_numbering:
          $ref: '#/components/schemas/diagrams__table-numbering-diagram-service'
        team_uploads_id:
          $ref: '#/components/schemas/stringOrNull-diagram-service'
        update_id:
          type: string
        width:
          $ref: '#/components/schemas/positiveNumber-diagram-service'
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
    template-config__table-diagram-service:
      title: Template Table
      type: object
      additionalProperties: false
      properties:
        size:
          $ref: '#/components/schemas/dimensions-diagram-service'
        spacing:
          $ref: '#/components/schemas/xyPair-diagram-service'
        rotation:
          type: number
    floor-elements__chair-strict-diagram-service:
      title: Strict Chair Floor Element
      type: object
      required:
      - id
      - type
      - side_index
      allOf:
      - $ref: '#/components/schemas/floor-elements__chair-core-diagram-service'
      - type: object
        properties:
          id:
            type: string
          type:
            type: string
          dimensions:
            $ref: '#/components/schemas/widthLengthStrict-diagram-service'
          side_index:
            type: integer
    template-config__aisle-strict-diagram-service:
      title: Template Aisle Strict
      type: object
      required:
      - width
      allOf:
      - $ref: '#/components/schemas/template-config__aisle-diagram-service'
    floor-elements__chair-core-diagram-service:
      title: Common chair fields
      type: object
      properties:
        custom_chair_id:
          type: string
        catalogCategoryTypeItemId:
          type: integer
        side:
          type: integer
        guest_id:
          type: string
        orientation:
          enum:
          - top
          - bottom
          - left
          - right
          - default
          type: string
    floor-elements__object-meta-diagram-service:
      title: Object Metadata
      type: object
      allOf:
      - $ref: '#/components/schemas/floor-elements__object-meta-core-diagram-service'
      - type: object
        properties:
          tents:
            $ref: '#/components/schemas/floor-elements__tent-diagram-service'
    guests__guest-diagram-service:
      title: Guest
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
        group_id:
          type: string
    floor-elements__floor-element-diagram-service:
      title: Floor Element
      type: object
      required:
      - color
      - dimensions
      - id
      - layer
      - layout
      - position
      - rotation
      allOf:
      - properties:
          id:
            type: string
          catalogCategoryTypeItemId:
            type: integer
          color:
            type: string
          dimensions:
            $ref: '#/components/schemas/dimensions-diagram-service'
          layer:
            type: integer
          layout:
            type: string
          rotation:
            type: number
          position:
            $ref: '#/components/schemas/xyPairStrict-diagram-service'
          table_meta:
            $ref: '#/components/schemas/floor-elements__table-meta-strict-diagram-service'
      - $ref: '#/components/schemas/floor-elements__floor-element-core-diagram-service'
    template-config__meta-strict-diagram-service:
      title: Strict Template Metadata
      type: object
      required:
      - rows
      - cols
      allOf:
      - $ref: '#/components/schemas/template-config__meta-diagram-service'
    template-config__meta-diagram-service:
      title: Template Table
      type: object
      additionalProperties: false
      properties:
        rows:
          type: integer
        cols:
          type: integer
    dimensions-diagram-service:
      type: object
      additionalProperties: false
      properties:
        width:
          type: number
        length:
          type: number
        radius:
          type: number
    template-config__template-config-core-diagram-service:
      title: Template Config core fields
      type: object
      properties:
        setup:
          type: string
        chevronAngle:
          type: integer
        chairs:
          type: integer
        chairOrientation:
          type: string
        chairType:
          type: string
        column:
          type: object
          properties:
            spacing:
              type: number
        floorElementType:
          type: string
        chairSides:
          type: object
          additionalProperties: false
          properties:
            side_1_count:
              type: integer
            side_2_count:
              type: integer
            side_3_count:
              type: integer
            side_4_count:
              type: integer
        chair:
          type: object
          additionalProperties: false
          properties:
            size:
              $ref: '#/components/schemas/dimensions-diagram-service'
        rotation:
          type: number
        relativeRotation:
          type: number
        locations:
          type: object
          additionalProperties:
            type: string
        theaterCurve:
          type: integer
        theaterChairNumberOffset:
          type: number
        theaterChairNumberIsOddEven:
          $ref: '#/components/schemas/theaterChairNumberIsOddEven-diagram-service'
        theaterChairNumberIsReverse:
          type: boolean
        theaterChairNumbersOmitted:
          type: array
          items:
            type: integer
        sectionName:
          type: string
        sectionLabelling:
          enum:
          - alphabetical
          - numerical
          - none
          type: string
        sectionLabellingRowOffset:
          type: number
        sectionLabellingRowIsReverse:
          type: boolean
        sectionLabellingRowsOmitted:
          type: array
          items:
            type: integer
        catalogCategoryTypeItemId:
          type: integer
        chairCatalogCategoryTypeItemId:
          type: integer
        removedSeats:
          type: integer
        color:
          type: string
    numberOrNull-diagram-service:
      type: number
    template-config__template-config-strict-diagram-service:
      title: Strict Template Config
      type: object
      required:
      - setup
      allOf:
      - type: object
        properties:
          table:
            $ref: '#/components/schemas/template-config__table-strict-diagram-service'
          aisles:
            $ref: '#/components/schemas/template-config__aisles-strict-diagram-service'
          meta:
            $ref: '#/components/schemas/template-config__meta-strict-diagram-service'
      - $ref: '#/components/schemas/template-config__template-config-core-diagram-service'
    diagrams__auto-seat-diagram-service:
      title: Diagram Auto Seat
      type: object
      additionalProperties: false
      required:
      - guests
      properties:
        guests:
          type: array
          items:
            $ref: '#/components/schemas/guests__guest-diagram-service'
        floor_elements:
          type: array
          items:
            type: string
        update_id:
          type: string
    template-config__aisle-diagram-service:
      title: Template Aisle
      type: object
      properties:
        width:
          type: number
        floorElementsBetween:
          type: number
    template-config__aisles-diagram-service:
      title: Template Aisles
      type: object
      additionalProperties: false
      properties:
        vertical:
          $ref: '#/components/schemas/template-config__aisle-diagram-service'
        horizontal:
          $ref: '#/components/schemas/template-config__aisle-diagram-service'
    floor-elements__line-connection-diagram-service:
      title: Line Connection
      type: object
      required:
      - object_id
      - ratio_x
      - ratio_y
      properties:
        object_id:
          type: string
        ratio_x:
          type: number
        ratio_y:
          type: number
    sections__section-strict-diagram-service:
      title: Strict Section
      type: object
      allOf:
      - type: object
        required:
        - id
        properties:
          id:
            type: string
      - $ref: '#/components/schemas/sections__section-diagram-service'
    widthLengthStrict-diagram-service:
      required:
      - width
      - length
      allOf:
      - $ref: '#/components/schemas/widthLength-diagram-service'
    diagrams__diagram-response-diagram-service:
      title: Diagram response
      type: object
      allOf:
      - properties:
          id:
            type: string
          updated_at:
            type: string
          created_at:
            type: string
          chair_count:
            type: integer
      - $ref: '#/components/schemas/diagrams__diagram-main-diagram-service'
    diagrams__seat-diagram-service:
      title: Diagram Seat
      type: object
      additionalProperties: false
      required:
      - guest_seats
      properties:
        guest_seats:
          type: array
          items:
            $ref: '#/components/schemas/guests__seat-diagram-service'
        update_id:
          type: string
    template-config__table-strict-diagram-service:
      title: Strict Template Table
      type: object
      additionalProperties: false
      properties:
        size:
          $ref: '#/components/schemas/dimensions-diagram-service'
        spacing:
          $ref: '#/components/schemas/xyPairStrict-diagram-service'
        rotation:
          type: number
    stringOrNull-diagram-service:
      type: string
    xyPair-diagram-service:
      type: object
      additionalProperties: false
      properties:
        x:
          type: number
        y:
          type: number
    diagrams__table-numbering-diagram-service:
      title: Table Numbering
      type: object
      additionalProperties: false
      properties:
        allowRepeats:
          type: boolean
        evenOnly:
          type: boolean
        oddOnly:
          type: boolean
        skipNumbers:
          type: array
          items:
            type: integer
        skipNumbersWith:
          type: array
          items:
            type: integer
        startingNumber:
          type: integer
    widthLength-diagram-service:
      type: object
      additionalProperties: false
      properties:
        width:
          type: number
        length:
          type: number
    floor-elements__object-meta-core-diagram-service:
      title: Object Metadata core fields
      type: object
      properties:
        image:
          type: string
        path_def:
          type: string
        legacy_id:
          type: integer
        steps:
          type: integer
        line_thickness:
          type: number
        tile_dimensions:
          $ref: '#/components/schemas/widthLength-diagram-service'
        rope_number:
          type: integer
        connections:
          $ref: '#/components/schemas/floor-elements__line-connections-diagram-service'
        projector_image_type:
          type: string
        line_endpoints:
          $ref: '#/components/schemas/floor-elements__line-endpoints-diagram-service'
    floor-elements__line-endpoints-diagram-service:
      title: Line Endpoints
      type: object
      properties:
        head:
          enum:
          - arrow
        tail:
          enum:
          - arrow
    template-config__template-config-diagram-service:
      title: Template Config
      type: object
      allOf:
      - type: object
        properties:
          table:
            $ref: '#/components/schemas/template-config__table-diagram-service'
          aisles:
            $ref: '#/components/schemas/template-config__aisles-diagram-service'
          meta:
            $ref: '#/components/schemas/template-config__meta-diagram-service'
      - $ref: '#/components/schemas/template-config__template-config-core-diagram-service'
    floor-elements__tent-diagram-service:
      title: Tent Floor Element
      type: object
      additionalProperties: false
      properties:
        hor:
          type: number
        ver:
          type: number
        type:
          type: string
    groups__group-strict-diagram-service:
      title: Strict Group
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
        template_config:
          $ref: '#/components/schemas/template-config__template-config-strict-diagram-service'
        favorite_id:
          type: string
        group_rotation:
          type: integer
        template_preset_id:
          type: string
    guests__seat-diagram-service:
      title: Guest Seat
      type: object
      additionalProperties: false
      required:
      - floor_element_id
      - chair_id
      properties:
        floor_element_id:
          type: string
        chair_id:
          type: string
        guest_id:
          type: string
    theaterChairNumberIsOddEven-diagram-service:
      enum:
      - odd
      - even
      - true
      - false
    sections__section-diagram-service:
      title: Section
      type: object
      properties:
        label:
          type: string
        template_config:
          $ref: '#/components/schemas/template-config__template-config-diagram-service'
    floor-elements__floor-element-core-diagram-service:
      title: Floor Element core fields
      type: object
      properties:
        font_size:
          type: number
        group_id:
          type: string
        isObjectLabelToggled:
          type: boolean
        is_locked:
          type: boolean
        name:
          type: string
        number:
          type: integer
        objectLabelSize:
          type: number
        objectLabelType:
          enum:
          - text
          - icon
          type: string
        object_meta:
          $ref: '#/components/schemas/floor-elements__object-meta-diagram-service'
        section_id:
          type: string
    positiveNumber-diagram-service:
      type: number
      exclusiveMinimum: 0
    template-config__aisles-strict-diagram-service:
      title: Strict Template Aisles
      type: object
      additionalProperties: false
      required:
      - vertical
      - horizontal
      properties:
        vertical:
          $ref: '#/components/schemas/template-config__aisle-strict-diagram-service'
        horizontal:
          $ref: '#/components/schemas/template-config__aisle-strict-diagram-service'
    floor-elements__table-meta-core-diagram-service:
      title: Table Metadata core fields
      type: object
      allOf:
      - type: object
        properties:
          legacy_id:
            type: integer
          removed:
            type: integer
          theater_curve:
            type: number
          useCustomSeatNumbering:
            type: boolean
          sectionLabelling:
            type: string
          useCustomSectionLabelling:
            type: boolean
      - $ref: '#/components/schemas/floor-elements__components~1theater-chairs-diagram-service'
    floor-elements__line-connections-diagram-service:
      title: Line Connections
      type: object
      required:
      - head
      - tail
      properties:
        head:
          $ref: '#/components/schemas/floor-elements__line-connection-diagram-service'
        tail:
          $ref: '#/components/schemas/floor-elements__line-connection-diagram-service'
    floor-plans__floor-plan-diagram-service:
      title: Floor Plan
      type: object
      additionalProperties: false
      properties:
        type:
          enum:
          - bookableRoom
          - spaceTemplate
          - image
          - background
          type: string
        id:
          type: integer
        url:
          type: string
        background_type:
          type: string
    floor-elements__table-meta-strict-diagram-service:
      title: Object Metadata
      type: object
      required:
      - chairs
      allOf:
      - $ref: '#/components/schemas/floor-elements__table-meta-core-diagram-service'
      - properties:
          chairs:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/floor-elements__chair-strict-diagram-service'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
