openapi: 3.2.0
info:
  title: Social Tables API Gateway Authentication API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Authentication
paths:
  /4.0/oauth/token:
    post:
      summary: Request an OAuth bearer token
      tags:
      - Authentication
      parameters:
      - name: Content-Type
        description: content type
        in: header
        schema:
          type: string
      - name: Accept
        description: content type
        in: header
        schema:
          type: string
      responses:
        '200':
          description: success
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: OAuth client ID
                client_secret:
                  type: string
                  description: OAuth client secret - required for password and client_credentials flows
                grant_type:
                  type: string
                  enum:
                  - authorization_code
                  - password
                  - client_credentials
                  - refresh_token
                  description: OAuth grant type
                code:
                  type: string
                  description: Authorization code for authorization_code grants
                refresh_token:
                  type: string
                  description: Refresh token for refresh_token grants
                username:
                  type: string
                  description: Username (email) for password grants
                password:
                  type: string
                  description: Password for password grants
              required:
              - client_id
              - client_secret
              - grant_type
    get:
      summary: Get information about the current OAuth bearer token as-supplied in headers
      tags:
      - Authentication
      security:
      - oauth2:
        - authenticated
      responses:
        '200':
          description: success
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
