openapi: 3.2.0
info:
  title: Social Tables API Gateway Authentication Events API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Events
paths:
  /4.0/events:
    get:
      tags:
      - Events
      summary: Retrieve all events an authenticated user has access to within their team.
      parameters:
      - name: event_ids
        in: query
        required: false
        description: Comma-separated list of event IDs.
        schema:
          type: string
      - name: v2_event_ids
        in: query
        required: false
        description: Comma-separated list of v2 event IDs.
        schema:
          type: string
      - name: attachSpacesAndBookableRooms
        in: query
        required: false
        description: Whether to include spaces and bookable rooms in the event response.
        schema:
          type: boolean
      - name: permissionLevel
        in: query
        required: false
        description: Permission level to include in the event response. 0 = default = add mobile permissions; 1 = skip mobile permissions;
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-social-tables-api'
    post:
      tags:
      - Events
      summary: Creates an event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-social-tables-api'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post40EventsBody-social-tables-api'
        description: Creates an event
        required: true
  /4.0/events/{event}:
    delete:
      tags:
      - Events
      summary: Delete an event
      parameters:
      - name: event
        in: path
        required: true
        description: ID or UID of the event to delete
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-social-tables-api'
    get:
      tags:
      - Events
      summary: Returns information about an event by its unique ID.
      parameters:
      - name: event
        in: path
        required: true
        description: The string or int unique identifier of the event.
        schema:
          type: string
      - name: include_deleted
        in: query
        required: false
        description: Whether to include deleted events in the response.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-social-tables-api'
    put:
      tags:
      - Events
      summary: Update an event
      parameters:
      - name: event
        in: path
        required: true
        description: ID or UID of the event to update
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-social-tables-api'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Put40EventsEventBody-social-tables-api'
        description: Update an event
        required: true
  /4.0/events/page:
    get:
      tags:
      - Events
      summary: Retrieve a list of events that the user (specified via the token) has access to, with offset-based pagination
      parameters:
      - name: limit
        in: query
        required: false
        description: The number of events to retrieve
        schema:
          type: number
      - name: offset
        in: query
        required: false
        description: The starting point for pagination
        schema:
          type: number
      - name: name
        in: query
        required: false
        description: Filter by name of the event
        schema:
          type: string
      - name: owner_id
        in: query
        required: false
        description: Filter by the owner ID of the event
        schema:
          type: string
      - name: collaborator_id
        in: query
        required: false
        description: Filter by collaborator who can access the event
        schema:
          type: string
      - name: industry_type
        in: query
        required: false
        description: Filter by industry type of the event
        schema:
          type: string
      - name: start_date
        in: query
        required: false
        description: Filter by start date (epoch time) of the event
        schema:
          type: number
      - name: end_date
        in: query
        required: false
        description: Filter by end date (epoch time) of the event
        schema:
          type: number
      - name: last_activity
        in: query
        required: false
        description: Filter by last activity date of the event
        schema:
          type: string
      - name: event_type
        in: query
        required: false
        description: Filter by event type of the event
        schema:
          type: string
      - name: team_id
        in: query
        required: false
        description: Filter by team ID of the user
        schema:
          type: string
      - name: space_id
        in: query
        required: false
        description: Filter by space IDs of the diagrams in the event
        schema:
          type: string
      - name: sort_col
        in: query
        required: false
        description: The field to sort by (e.g., name, start_date, end_date, etc.)
        schema:
          type: string
      - name: sort_dir
        in: query
        required: false
        description: The sort direction to use (ASC or DESC)
        schema:
          type: string
      - name: date_filter
        in: query
        required: false
        description: Convenience filter to get events that are upcoming, past, or all
        schema:
          type: string
      - name: space_template_ids
        in: query
        required: false
        description: Space template IDs to filter by
        schema:
          type: string
      - name: bookable_room_ids
        in: query
        required: false
        description: Bookable room IDs to filter by
        schema:
          type: string
      - name: event_platform
        in: query
        required: false
        description: 'Filter by event platform type. Valid values: ''prismm'' (events with prismm_occasion_id), ''ced'' (events without prismm_occasion_id, default), or ''all'' (no filtering)'
        schema:
          type: string
      - name: event_ids
        in: query
        required: false
        description: Comma-separated list of event UIDs to filter by
        schema:
          type: string
      - name: v2_event_ids
        in: query
        required: false
        description: Comma-separated list of v2 (legacy) event IDs to filter by
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data-social-tables-api'
components:
  schemas:
    Post40EventsBody-social-tables-api:
      properties:
        team_id:
          type: number
          description: Legacy team id
        name:
          type: string
          description: Name of the event
        category:
          type: string
          description: 'Type of event. For example: Athletic, Catered Meal, Ceremony, Class/Lecture, Concert, Conference, Executive Meeting, Trade Show, Reception, Training'
        start_epoch:
          type: string
          description: Start date in milliseconds since epoch
        end_epoch:
          type: string
          description: End date in milliseconds since epoch
        industry:
          type: string
          description: Industry associated with the event. Association, Corporate, Education, Government, Nonprofit, Religious, Social
        is_public:
          type: boolean
          description: Whether to make this event and its diagrams public
        uses_metric:
          type: boolean
          description: Whether to use metric system. Defaults to false
      required:
      - name
      - category
    Put40EventsEventBody-social-tables-api:
      properties:
        name:
          type: string
          description: Name of the event
        category:
          type: string
          description: 'Type of event. For example: Athletic, Catered Meal, Ceremony, Class/Lecture, Concert, Conference, Executive Meeting, Trade Show, Reception, Training'
        start_epoch:
          type: string
          description: Start date in milliseconds since epoch
        end_epoch:
          type: string
          description: End date in milliseconds since epoch
        industry:
          type: string
          description: Industry associated with the event. Association, Corporate, Education, Government, Nonprofit, Religious, Social
        is_public:
          type: boolean
          description: Whether to make this event and its diagrams public. Defaults to false.
        uses_metric:
          type: boolean
          description: Whether to use metric system. Defaults to false
        archived:
          type: boolean
          description: Whether to archive/delete the event. Defaults to false
      required:
      - name
    data-social-tables-api:
      properties: {}
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
