openapi: 3.2.0
info:
  title: Social Tables API Gateway Guest Lists API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Guest Lists
paths:
  /4.0/guestlists:
    get:
      tags:
      - Guest Lists
      summary: Retrieve all guestlists by session or event id
      parameters:
      - name: event_id
        required: false
        in: query
        schema:
          type: string
      - name: session_id
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: guestlists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/guestlists-guest-list-service'
      operationId: get40Guestlists
      x-operation-id-source: derived
    post:
      tags:
      - Guest Lists
      summary: Create a guestlist
      responses:
        '200':
          description: guestlists response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/guestlists-guest-list-service'
        '400':
          description: Error creating guestlist
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event_id:
                  type: string
                  description: deprecated, use diagram_id
                diagram_id:
                  type: string
        required: true
      operationId: post40Guestlists
      x-operation-id-source: derived
  /4.0/guestlists/{guestlist_id}:
    get:
      tags:
      - Guest Lists
      summary: Retrieve all guestlists
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: guestlists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/guestlists-guest-list-service'
        '410':
          description: requested guestlist is deleted
      operationId: get40GuestlistsByGuestlistId
      x-operation-id-source: derived
    put:
      tags:
      - Guest Lists
      summary: Update a guestlist
      parameters:
      - name: guestlist_id
        description: guestlist ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success, guestlist updated
        '410':
          description: requested guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/guestlists-guest-list-service'
      operationId: put40GuestlistsByGuestlistId
      x-operation-id-source: derived
    patch:
      tags:
      - Guest Lists
      summary: Update a guestlist
      parameters:
      - name: guestlist_id
        description: guestlist ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success, guestlist updated
        '410':
          description: requested guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/guestlists-guest-list-service'
      operationId: patch40GuestlistsByGuestlistId
      x-operation-id-source: derived
    delete:
      tags:
      - Guest Lists
      summary: Delete a guestlist
      parameters:
      - name: guestlist_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: successfully deleted
        '404':
          description: Error with invalid id or no id
      operationId: delete40GuestlistsByGuestlistId
      x-operation-id-source: derived
  /4.0/guestlists/{guestlist_id}/_clone:
    post:
      tags:
      - Guest Lists
      summary: Clone a guestlist
      parameters:
      - name: guestlist_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successfully cloned
        '400':
          description: Error with no id
        '404':
          description: Error with invalid id
        '405':
          description: Error with no id
        '410':
          description: requested guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/guestlists-guest-list-service'
        required: true
      operationId: post40GuestlistsByGuestlistIdClone
      x-operation-id-source: derived
  /4.0/guestlists/{guestlist_id}/column_mapping:
    get:
      tags:
      - Guest Lists
      summary: Get a guestlist column mapping
      parameters:
      - name: guestlist_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successfully fetched column mapping
        '404':
          description: column mapping for given guestlist_id doesn't exist
      operationId: get40GuestlistsByGuestlistIdColumnMapping
      x-operation-id-source: derived
  /4.0/guestlists/{guestlist_id}/cvent/seating:
    delete:
      tags:
      - Guest Lists
      summary: Delete a guestlist
      parameters:
      - name: guestlist_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: successfully deleted
        '404':
          description: Error with invalid id or no id
      operationId: delete40GuestlistsByGuestlistIdCventSeating
      x-operation-id-source: derived
  /4.0/guestlists/{guestlist_id}/restore:
    post:
      tags:
      - Guest Lists
      summary: Restore a deleted guestlist
      parameters:
      - name: guestlist_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: sucessfully restored a deleted guestlist
        '400':
          description: Error restoring deleted guestlist
        '404':
          description: Error restoring guestlist with invalid id
      operationId: post40GuestlistsByGuestlistIdRestore
      x-operation-id-source: derived
components:
  schemas:
    guestlists-guest-list-service:
      type: object
      properties:
        id:
          type: string
          description: id of guestlists
        session_id:
          type: string
          description: session_id of guestlists
        event_id:
          type: string
          description: event_id
        name:
          type: string
          description: name
        deleted:
          type: integer
          description: name
      required:
      - id
      - name
      - event_id
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
