openapi: 3.2.0
info:
  title: Social Tables API Gateway Authentication Guest Tags API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Guest Tags
paths:
  /4.0/guestlists/{guestlist_id}/guests/tags:
    post:
      tags:
      - Guest Tags
      summary: assign/delete multiple guests to a tag
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: tag for guestlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags-guest-list-service'
        '400':
          description: Error adding or removing tags
        '410':
          description: guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - action
              - guests
              - tags
              properties:
                tags:
                  type: array
                  items:
                    type: string
                action:
                  type: string
                guests:
                  type: array
                  items:
                    $ref: '#/components/schemas/guests-guest-list-service'
        description: body object
        required: true
  /4.0/guestlists/{guestlist_id}/tags:
    get:
      tags:
      - Guest Tags
      summary: get the tags status on a guestlist
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: tags state for guestlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags-guest-list-service'
        '400':
          description: Error getting tags state
        '410':
          description: guestlist is deleted
    post:
      tags:
      - Guest Tags
      summary: create a tag on a guestlist
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: tag for guestlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags-guest-list-service'
        '400':
          description: Error creating tag
        '410':
          description: guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tag
              properties:
                tag:
                  type: object
        description: body object
        required: true
  /4.0/guestlists/{guestlist_id}/tags/{tag_title_or_id}:
    get:
      tags:
      - Guest Tags
      summary: get a tag on a guestlist
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      - name: tag_title_or_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: tag for guestlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags-guest-list-service'
        '400':
          description: Error getting tag
        '410':
          description: guestlist is deleted
    put:
      tags:
      - Guest Tags
      summary: edit a tag on a guestlist
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      - name: tag_title_or_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: tag for guestlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags-guest-list-service'
        '400':
          description: Error editing tag
        '410':
          description: guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tags
              properties:
                tags:
                  type: object
        description: body object
        required: true
    delete:
      tags:
      - Guest Tags
      summary: delete a tag on a guestlist
      parameters:
      - name: guestlist_id
        required: true
        in: path
        schema:
          type: string
      - name: tag_title_or_id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: tag for guestlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags-guest-list-service'
        '400':
          description: Error deleting tag
        '410':
          description: guestlist is deleted
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tags
              properties:
                tags:
                  type: object
        description: body object
        required: true
components:
  schemas:
    meals-guest-list-service:
      type: object
      properties:
        title:
          type: string
          description: name of meal
      required:
      - title
    tags-guest-list-service:
      type: object
      properties:
        title:
          type: string
          description: title of tag
        color:
          type: string
          description: color of tag
      required:
      - title
    guests-guest-list-service:
      type: object
      properties:
        id:
          type: string
          description: id of guest
        first_name:
          type: string
          description: first name of guest
        last_name:
          type: string
          description: last name of guest
        email:
          type: string
          description: email address
        checked_in_status:
          type: object
          description: checkin data
          properties:
            checked_in:
              type: integer
            checked_in_at:
              type: string
              format: date-time
            checked_out_at:
              type: string
              format: date-time
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tags-guest-list-service'
        meals:
          type: array
          items:
            $ref: '#/components/schemas/meals-guest-list-service'
      required:
      - id
      - first_name
      - last_name
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
