swagger: '2.0'
info:
  title: Social Tables API Gateway Authentication Diagram Favorites API
  version: 4.0.0
  description: The Social Tables API
host: api.socialtables.com
basePath: /
tags:
- name: Diagram Favorites
paths:
  /4.0/favorites:
    get:
      tags:
      - Diagram Favorites
      summary: get multiple favorites
      produces:
      - application/json
      parameters:
      - name: user
        in: query
        type: integer
        required: false
      - name: team
        in: query
        type: integer
        required: false
      responses:
        '200':
          description: returns an array of favorites
          schema:
            type: array
            items:
              $ref: '#/definitions/favorites__favorite-diagram-service'
        '400':
          description: validation error must specify either user and / or team
  /4.0/favorites/:
    post:
      tags:
      - Diagram Favorites
      summary: inserts a favorite
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: the body of the favorite
        required: true
        schema:
          $ref: '#/definitions/favorites__favorite-diagram-service'
      responses:
        '200':
          description: inserted favorite with id
          schema:
            $ref: '#/definitions/favorites__favorite-diagram-service'
        '400':
          description: favorite not valid
        '409':
          description: created a favorite with an existing name
    patch:
      tags:
      - Diagram Favorites
      summary: updates a favorite
      produces:
      - application/json
      parameters:
      - name: data
        in: body
        description: the body of the favorite update
        required: true
        schema:
          type: object
          properties:
            data:
              $ref: '#/definitions/favorites__favorite-patch-diagram-service'
      responses:
        '200':
          description: success
          schema:
            $ref: '#/definitions/favorites__favorite-diagram-service'
        '400':
          description: favorite update not valid
  /4.0/favorites/{id}:
    get:
      tags:
      - Diagram Favorites
      summary: get a favorite by ID
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        type: string
        required: true
      responses:
        '200':
          description: returns a favorite
          schema:
            $ref: '#/definitions/favorites__favorite-diagram-service'
        '404':
          description: favorite not found
    delete:
      tags:
      - Diagram Favorites
      summary: deletes a favorite
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        type: string
        required: true
      responses:
        '200':
          description: OK
        '404':
          description: favorite not found
definitions:
  xyPairStrict-diagram-service:
    type: object
    required:
    - x
    - y
    additionalProperties: false
    properties:
      x:
        type: number
      y:
        type: number
  floor-elements__object-meta-diagram-service:
    title: Object Metadata
    type: object
    allOf:
    - $ref: '#/definitions/floor-elements__object-meta-core-diagram-service'
    - type: object
      properties:
        tents:
          $ref: '#/definitions/floor-elements__tent-diagram-service'
  floor-elements__line-connections-diagram-service:
    title: Line Connections
    type: object
    required:
    - head
    - tail
    properties:
      head:
        $ref: '#/definitions/floor-elements__line-connection-diagram-service'
      tail:
        $ref: '#/definitions/floor-elements__line-connection-diagram-service'
  widthLengthStrict-diagram-service:
    required:
    - width
    - length
    allOf:
    - $ref: '#/definitions/widthLength-diagram-service'
  floor-elements__tent-diagram-service:
    title: Tent Floor Element
    type: object
    additionalProperties: false
    properties:
      hor:
        type: number
      ver:
        type: number
      type:
        type: string
  favorites__favorite-diagram-service:
    title: Favorite
    type: object
    additionalProperties: false
    required:
    - name
    - floor_elements
    properties:
      user_id:
        type: string
      legacy_user_id:
        type: integer
      team_id:
        type: string
      legacy_team_id:
        type: integer
      space_id:
        type: integer
      name:
        type: string
      floor_elements:
        type: object
        additionalProperties:
          $ref: '#/definitions/floor-elements__floor-element-diagram-service'
      legacy_property_id:
        type: integer
  floor-elements__line-endpoints-diagram-service:
    title: Line Endpoints
    type: object
    properties:
      head:
        enum:
        - arrow
      tail:
        enum:
        - arrow
  floor-elements__table-meta-core-diagram-service:
    title: Table Metadata core fields
    type: object
    allOf:
    - type: object
      properties:
        legacy_id:
          type: integer
        removed:
          type: integer
        theater_curve:
          type: number
        useCustomSeatNumbering:
          type: boolean
        sectionLabelling:
          type: string
        useCustomSectionLabelling:
          type: boolean
    - $ref: '#/definitions/floor-elements__components~1theater-chairs-diagram-service'
  floor-elements__floor-element-core-diagram-service:
    title: Floor Element core fields
    type: object
    properties:
      font_size:
        type: number
      group_id:
        type: string
      isObjectLabelToggled:
        type: boolean
      is_locked:
        type: boolean
      name:
        type: string
      number:
        type: integer
      objectLabelSize:
        type: number
      objectLabelType:
        enum:
        - text
        - icon
        type: string
      object_meta:
        $ref: '#/definitions/floor-elements__object-meta-diagram-service'
      section_id:
        type: string
  widthLength-diagram-service:
    type: object
    additionalProperties: false
    properties:
      width:
        type: number
      length:
        type: number
  floor-elements__object-meta-core-diagram-service:
    title: Object Metadata core fields
    type: object
    properties:
      image:
        type: string
      path_def:
        type: string
      legacy_id:
        type: integer
      steps:
        type: integer
      line_thickness:
        type: number
      tile_dimensions:
        $ref: '#/definitions/widthLength-diagram-service'
      rope_number:
        type: integer
      connections:
        $ref: '#/definitions/floor-elements__line-connections-diagram-service'
      projector_image_type:
        type: string
      line_endpoints:
        $ref: '#/definitions/floor-elements__line-endpoints-diagram-service'
  floor-elements__table-meta-strict-diagram-service:
    title: Object Metadata
    type: object
    required:
    - chairs
    allOf:
    - $ref: '#/definitions/floor-elements__table-meta-core-diagram-service'
    - properties:
        chairs:
          type: object
          additionalProperties:
            $ref: '#/definitions/floor-elements__chair-strict-diagram-service'
  favorites__favorite-patch-diagram-service:
    title: Favorite Patch
    type: object
    additionalProperties: false
    required:
    - name
    properties:
      name:
        type: string
  floor-elements__chair-strict-diagram-service:
    title: Strict Chair Floor Element
    type: object
    required:
    - id
    - type
    - side_index
    allOf:
    - $ref: '#/definitions/floor-elements__chair-core-diagram-service'
    - type: object
      properties:
        id:
          type: string
        type:
          type: string
        dimensions:
          $ref: '#/definitions/widthLengthStrict-diagram-service'
        side_index:
          type: integer
  floor-elements__floor-element-diagram-service:
    title: Floor Element
    type: object
    required:
    - color
    - dimensions
    - id
    - layer
    - layout
    - position
    - rotation
    allOf:
    - properties:
        id:
          type: string
        catalogCategoryTypeItemId:
          type: integer
        color:
          type: string
        dimensions:
          $ref: '#/definitions/dimensions-diagram-service'
        layer:
          type: integer
        layout:
          type: string
        rotation:
          type: number
        position:
          $ref: '#/definitions/xyPairStrict-diagram-service'
        table_meta:
          $ref: '#/definitions/floor-elements__table-meta-strict-diagram-service'
    - $ref: '#/definitions/floor-elements__floor-element-core-diagram-service'
  floor-elements__chair-core-diagram-service:
    title: Common chair fields
    type: object
    properties:
      custom_chair_id:
        type: string
      catalogCategoryTypeItemId:
        type: integer
      side:
        type: integer
      guest_id:
        type: string
      orientation:
        enum:
        - top
        - bottom
        - left
        - right
        - default
        type: string
  floor-elements__line-connection-diagram-service:
    title: Line Connection
    type: object
    required:
    - object_id
    - ratio_x
    - ratio_y
    properties:
      object_id:
        type: string
      ratio_x:
        type: number
      ratio_y:
        type: number
  dimensions-diagram-service:
    type: object
    additionalProperties: false
    properties:
      width:
        type: number
      length:
        type: number
      radius:
        type: number
securityDefinitions:
  oauth2:
    type: oauth2
    description: OAuth
    tokenUrl: https://auth.socialtables.com/oauth/token
    authorizationUrl: https://auth.socialtables.com/oauth/authorize
    flow: accessCode
    scopes:
      authenticated: any authentication whatsoever
      create:oauth_client: oauth client create
      userdata: All of the things.
  user_token:
    type: apiKey
    name: user_token
    in: header
    description: Social Tables User Token
  partner_token:
    type: apiKey
    name: partner_token
    in: header
    description: Social Tables Partner Token
