openapi: 3.2.0
info:
  title: Social Tables API Gateway Authentication Diagram Layouts API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Diagram Layouts
paths:
  /4.0/layouts:
    get:
      tags:
      - Diagram Layouts
      summary: get multiple layouts
      parameters:
      - name: bookable_room
        in: query
        required: false
        schema:
          type: integer
      - name: space_template
        in: query
        required: false
        schema:
          type: integer
      - name: team_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: returns an array of layouts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/layouts__layout-diagram-service'
        '400':
          description: validation error must specify either bookable_room or space_template
  /4.0/layouts/:
    post:
      tags:
      - Diagram Layouts
      summary: inserts a layout
      responses:
        '200':
          description: inserted layout with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layouts__layout-diagram-service'
        '400':
          description: layout not valid
        '409':
          description: duplicate layout name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/layouts__layout-diagram-service'
        description: the body of the layout
        required: true
  /4.0/layouts/{id}:
    get:
      tags:
      - Diagram Layouts
      summary: get a layout by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns a layout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layouts__layout-diagram-service'
        '404':
          description: layout not found
    delete:
      tags:
      - Diagram Layouts
      summary: deletes a layout
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '404':
          description: layout not found
    patch:
      tags:
      - Diagram Layouts
      summary: updates a layout
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/layouts__layout-diagram-service'
        '400':
          description: layout update not valid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/layouts__layout-patch-diagram-service'
        description: the body of the layout update
        required: true
components:
  schemas:
    floor-elements__table-meta-core-diagram-service:
      title: Table Metadata core fields
      type: object
      allOf:
      - type: object
        properties:
          legacy_id:
            type: integer
          removed:
            type: integer
          theater_curve:
            type: number
          useCustomSeatNumbering:
            type: boolean
          sectionLabelling:
            type: string
          useCustomSectionLabelling:
            type: boolean
      - $ref: '#/components/schemas/floor-elements__components~1theater-chairs-diagram-service'
    floor-elements__object-meta-core-diagram-service:
      title: Object Metadata core fields
      type: object
      properties:
        image:
          type: string
        path_def:
          type: string
        legacy_id:
          type: integer
        steps:
          type: integer
        line_thickness:
          type: number
        tile_dimensions:
          $ref: '#/components/schemas/widthLength-diagram-service'
        rope_number:
          type: integer
        connections:
          $ref: '#/components/schemas/floor-elements__line-connections-diagram-service'
        projector_image_type:
          type: string
        line_endpoints:
          $ref: '#/components/schemas/floor-elements__line-endpoints-diagram-service'
    template-config__template-config-core-diagram-service:
      title: Template Config core fields
      type: object
      properties:
        setup:
          type: string
        chevronAngle:
          type: integer
        chairs:
          type: integer
        chairOrientation:
          type: string
        chairType:
          type: string
        column:
          type: object
          properties:
            spacing:
              type: number
        floorElementType:
          type: string
        chairSides:
          type: object
          additionalProperties: false
          properties:
            side_1_count:
              type: integer
            side_2_count:
              type: integer
            side_3_count:
              type: integer
            side_4_count:
              type: integer
        chair:
          type: object
          additionalProperties: false
          properties:
            size:
              $ref: '#/components/schemas/dimensions-diagram-service'
        rotation:
          type: number
        relativeRotation:
          type: number
        locations:
          type: object
          additionalProperties:
            type: string
        theaterCurve:
          type: integer
        theaterChairNumberOffset:
          type: number
        theaterChairNumberIsOddEven:
          $ref: '#/components/schemas/theaterChairNumberIsOddEven-diagram-service'
        theaterChairNumberIsReverse:
          type: boolean
        theaterChairNumbersOmitted:
          type: array
          items:
            type: integer
        sectionName:
          type: string
        sectionLabelling:
          enum:
          - alphabetical
          - numerical
          - none
          type: string
        sectionLabellingRowOffset:
          type: number
        sectionLabellingRowIsReverse:
          type: boolean
        sectionLabellingRowsOmitted:
          type: array
          items:
            type: integer
        catalogCategoryTypeItemId:
          type: integer
        chairCatalogCategoryTypeItemId:
          type: integer
        removedSeats:
          type: integer
        color:
          type: string
    floor-elements__tent-diagram-service:
      title: Tent Floor Element
      type: object
      additionalProperties: false
      properties:
        hor:
          type: number
        ver:
          type: number
        type:
          type: string
    floor-elements__line-endpoints-diagram-service:
      title: Line Endpoints
      type: object
      properties:
        head:
          enum:
          - arrow
        tail:
          enum:
          - arrow
    template-config__aisles-strict-diagram-service:
      title: Strict Template Aisles
      type: object
      additionalProperties: false
      required:
      - vertical
      - horizontal
      properties:
        vertical:
          $ref: '#/components/schemas/template-config__aisle-strict-diagram-service'
        horizontal:
          $ref: '#/components/schemas/template-config__aisle-strict-diagram-service'
    floor-elements__line-connection-diagram-service:
      title: Line Connection
      type: object
      required:
      - object_id
      - ratio_x
      - ratio_y
      properties:
        object_id:
          type: string
        ratio_x:
          type: number
        ratio_y:
          type: number
    template-config__meta-strict-diagram-service:
      title: Strict Template Metadata
      type: object
      required:
      - rows
      - cols
      allOf:
      - $ref: '#/components/schemas/template-config__meta-diagram-service'
    floor-elements__chair-strict-diagram-service:
      title: Strict Chair Floor Element
      type: object
      required:
      - id
      - type
      - side_index
      allOf:
      - $ref: '#/components/schemas/floor-elements__chair-core-diagram-service'
      - type: object
        properties:
          id:
            type: string
          type:
            type: string
          dimensions:
            $ref: '#/components/schemas/widthLengthStrict-diagram-service'
          side_index:
            type: integer
    template-config__template-config-strict-diagram-service:
      title: Strict Template Config
      type: object
      required:
      - setup
      allOf:
      - type: object
        properties:
          table:
            $ref: '#/components/schemas/template-config__table-strict-diagram-service'
          aisles:
            $ref: '#/components/schemas/template-config__aisles-strict-diagram-service'
          meta:
            $ref: '#/components/schemas/template-config__meta-strict-diagram-service'
      - $ref: '#/components/schemas/template-config__template-config-core-diagram-service'
    layouts__layout-diagram-service:
      title: Layout
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        name:
          type: string
        rotation:
          type: number
        length:
          type: number
        width:
          type: number
        space_id:
          type: integer
        legacy_team_id:
          type: integer
        space_template_id:
          type: integer
        bookable_room_id:
          type: integer
        team_id:
          type: string
        floor_elements:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/floor-elements__floor-element-diagram-service'
        groups:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/groups__group-strict-diagram-service'
        catalog_id:
          type: integer
    theaterChairNumberIsOddEven-diagram-service:
      enum:
      - odd
      - even
      - true
      - false
    dimensions-diagram-service:
      type: object
      additionalProperties: false
      properties:
        width:
          type: number
        length:
          type: number
        radius:
          type: number
    widthLength-diagram-service:
      type: object
      additionalProperties: false
      properties:
        width:
          type: number
        length:
          type: number
    xyPairStrict-diagram-service:
      type: object
      required:
      - x
      - y
      additionalProperties: false
      properties:
        x:
          type: number
        y:
          type: number
    template-config__aisle-diagram-service:
      title: Template Aisle
      type: object
      properties:
        width:
          type: number
        floorElementsBetween:
          type: number
    floor-elements__object-meta-diagram-service:
      title: Object Metadata
      type: object
      allOf:
      - $ref: '#/components/schemas/floor-elements__object-meta-core-diagram-service'
      - type: object
        properties:
          tents:
            $ref: '#/components/schemas/floor-elements__tent-diagram-service'
    widthLengthStrict-diagram-service:
      required:
      - width
      - length
      allOf:
      - $ref: '#/components/schemas/widthLength-diagram-service'
    template-config__table-strict-diagram-service:
      title: Strict Template Table
      type: object
      additionalProperties: false
      properties:
        size:
          $ref: '#/components/schemas/dimensions-diagram-service'
        spacing:
          $ref: '#/components/schemas/xyPairStrict-diagram-service'
        rotation:
          type: number
    layouts__layout-patch-diagram-service:
      title: Layout Patch
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        deleted:
          type: boolean
        name:
          type: string
        proposeMetadata:
          type: object
          additionalProperties: false
          properties:
            capacity:
              type: integer
    floor-elements__floor-element-diagram-service:
      title: Floor Element
      type: object
      required:
      - color
      - dimensions
      - id
      - layer
      - layout
      - position
      - rotation
      allOf:
      - properties:
          id:
            type: string
          catalogCategoryTypeItemId:
            type: integer
          color:
            type: string
          dimensions:
            $ref: '#/components/schemas/dimensions-diagram-service'
          layer:
            type: integer
          layout:
            type: string
          rotation:
            type: number
          position:
            $ref: '#/components/schemas/xyPairStrict-diagram-service'
          table_meta:
            $ref: '#/components/schemas/floor-elements__table-meta-strict-diagram-service'
      - $ref: '#/components/schemas/floor-elements__floor-element-core-diagram-service'
    floor-elements__floor-element-core-diagram-service:
      title: Floor Element core fields
      type: object
      properties:
        font_size:
          type: number
        group_id:
          type: string
        isObjectLabelToggled:
          type: boolean
        is_locked:
          type: boolean
        name:
          type: string
        number:
          type: integer
        objectLabelSize:
          type: number
        objectLabelType:
          enum:
          - text
          - icon
          type: string
        object_meta:
          $ref: '#/components/schemas/floor-elements__object-meta-diagram-service'
        section_id:
          type: string
    template-config__aisle-strict-diagram-service:
      title: Template Aisle Strict
      type: object
      required:
      - width
      allOf:
      - $ref: '#/components/schemas/template-config__aisle-diagram-service'
    floor-elements__line-connections-diagram-service:
      title: Line Connections
      type: object
      required:
      - head
      - tail
      properties:
        head:
          $ref: '#/components/schemas/floor-elements__line-connection-diagram-service'
        tail:
          $ref: '#/components/schemas/floor-elements__line-connection-diagram-service'
    floor-elements__table-meta-strict-diagram-service:
      title: Object Metadata
      type: object
      required:
      - chairs
      allOf:
      - $ref: '#/components/schemas/floor-elements__table-meta-core-diagram-service'
      - properties:
          chairs:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/floor-elements__chair-strict-diagram-service'
    groups__group-strict-diagram-service:
      title: Strict Group
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
        template_config:
          $ref: '#/components/schemas/template-config__template-config-strict-diagram-service'
        favorite_id:
          type: string
        group_rotation:
          type: integer
        template_preset_id:
          type: string
    template-config__meta-diagram-service:
      title: Template Table
      type: object
      additionalProperties: false
      properties:
        rows:
          type: integer
        cols:
          type: integer
    floor-elements__chair-core-diagram-service:
      title: Common chair fields
      type: object
      properties:
        custom_chair_id:
          type: string
        catalogCategoryTypeItemId:
          type: integer
        side:
          type: integer
        guest_id:
          type: string
        orientation:
          enum:
          - top
          - bottom
          - left
          - right
          - default
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
