openapi: 3.2.0
info:
  title: Social Tables API Gateway Properties API
  version: 4.0.0
  description: The Social Tables API
servers:
- url: https://api.socialtables.com/
tags:
- name: Properties
paths:
  /4.0/properties:
    get:
      tags:
      - Properties
      summary: get active properties owned by the caller team
      responses:
        '200':
          description: returns active properties owned by the caller team
        '400':
          description: team context is missing from request
        '401':
          description: unauthorized
      operationId: get40Properties
      x-operation-id-source: derived
  /4.0/properties/{property_id}:
    get:
      tags:
      - Properties
      summary: get a property from a property ID
      parameters:
      - $ref: '#/components/parameters/property_id-property-service'
      responses:
        '200':
          description: returns a property
      operationId: get40PropertiesByPropertyId
      x-operation-id-source: derived
components:
  parameters:
    property_id-property-service:
      name: property_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            authenticated: any authentication whatsoever
            create:oauth_client: oauth client create
            userdata: All of the things.
          authorizationUrl: https://auth.socialtables.com/oauth/authorize
          tokenUrl: https://auth.socialtables.com/oauth/token
      description: OAuth
    user_token:
      type: apiKey
      name: user_token
      in: header
      description: Social Tables User Token
    partner_token:
      type: apiKey
      name: partner_token
      in: header
      description: Social Tables Partner Token
