{"swagger":"2.0","info":{"title":"Social Tables API Gateway","version":"4.0.0","description":"The Social Tables API"},"host":"api.socialtables.com","basePath":"/","definitions":{"resultPaging-account-service":{"type":"object","properties":{"after":{"type":"string","description":"cursor for next page"},"before":{"type":"string","description":"cursor for previous page"}}},"resultCventUserSchema-account-service":{"type":"object","properties":{"accountId":{"type":"string","description":"account id for user"},"customerId":{"type":"string","pattern":"^003E[a-zA-Z0-9](?:.{15}|.{18})$","format":"string","description":"salesforce bucket ID"},"originUserId":{"type":"string","description":"ST legacy user id for the user"},"productId":{"type":"string","description":"ST product ID in MyCvent, same across all users"},"email":{"type":"string","format":"email","description":"email address"},"firstName":{"type":"string","description":"first name of user"},"lastName":{"type":"string","description":"last name of user"},"mobilePhone":{"type":"string","description":"phone number of user"},"title":{"type":"string","description":"job title of user"}},"required":["originUserId","customerId","accountId","productId"]},"resultRequestMagicLinkSchema-account-service":{"type":"object","properties":{"href":{"type":"string"}},"required":["href"]},"resultVerifyMagicLinkSchema-account-service":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"payload":{"type":"object","properties":{"sub":{"type":"string"},"name":{"type":"string"},"locale":{"type":"string","example":"en-US"},"email":{"type":"string","example":"trunggap@yahoo.com"},"ver":{"type":"integer","example":1},"iss":{"type":"string","example":"https://dev-610459.oktapreview.com/oauth2/ausbnqniu3pkA6k2O0h7"},"aud":{"type":"string","example":"0oabod22157Zcj4R70h7"},"iat":{"type":"string","example":1502984484},"exp":{"type":"string","example":1502988084},"jti":{"type":"string","example":"ID.RIPsQFVnBrlIbdYV8M5sjDMgfS4Uk3CtwLdf69Mz1nI"},"amr":{"type":"array","items":{"type":"string"}},"idp":{"type":"string","example":"0oabdo44lhG9fadQo0h7"},"nonce":{"type":"string","example":"b48b1124-39bb-45cc-b687-c844be434d7c"},"preferred_username":{"type":"string","example":"cisco.trunggap@yahoo.com"},"given_name":{"type":"string","example":"Somebody"},"family_name":{"type":"string","example":"Last"},"zoneinfo":{"type":"string","example":"America/Los_Angeles"},"updated_at":{"type":"integer","example":1502983816},"email_verified":{"type":"boolean","example":true},"customerId":{"type":"string","example":"0014B00000Yq4Nn"},"auth_time":{"type":"integer","example":150298448}}}}},"externalOauthProvidersSchema-account-service":{"type":"object","properties":{"id":{"type":"string","maxLength":191},"display_name":{"type":"string","maxLength":191},"lookup_name":{"type":"string","maxLength":18}},"required":["id","display_name","lookup_name"]},"externalOauthUserTokensSchema-account-service":{"type":"object","properties":{"user_id":{"type":"string","maxLength":191},"external_oauth_provider_id":{"type":"string","maxLength":18},"token":{"type":"string","maxLength":18},"refresh_token":{"type":"string","maxLength":18},"bearer_expiration":{"type":"string","maxLength":191},"refresh_expiration":{"type":"string","maxLength":191},"external_oauth_account_id":{"type":"string","maxLength":191},"external_oauth_user_name":{"type":"string","maxLength":191},"external_role":{"type":"string","maxLength":255},"datacenter":{"type":"string","maxLength":255}},"required":["user_id","external_oauth_provider_id","refresh_token","bearer_expiration","refresh_expiration"]},"createUpdateInvitation-account-service":{"type":"object","properties":{"email":{"type":"string"},"invited_by":{"type":"string"},"status":{"type":"string","maxLength":191,"enum":["pending","accepted","deleted"]},"object_type":{"type":"string"},"object_id":{"type":"string"},"role":{"type":"string"},"context":{"type":"string"},"metadata":{"type":"object"}},"required":["email","invited_by"]},"acceptInvitationForNewUser-account-service":{"type":"object","properties":{"invitation_code":{"type":"string"},"user_id":{"type":"string"}},"required":["invitation_code","user_id"],"additionalProperties":false},"simpleInvitations-account-service":{"properties":{"context":{"type":"string","maxLength":191,"enum":["events","teams"]},"object_id":{"type":"string","maxLength":191},"object_ids":{"type":"array","items":{"type":"string"}},"email":{"type":"string","maxLength":300}}},"patchInvitation-account-service":{"type":"object","properties":{"email":{"type":"string"},"invited_by":{"type":"string"},"status":{"type":"string","maxLength":191,"enum":["pending","accepted","deleted"]},"object_type":{"type":"string"},"object_id":{"type":"string"},"role":{"type":"string"},"context":{"type":"string"},"metadata":{"type":"object"}}},"oauthClientUpdate-account-service":{"type":"object","properties":{"id":{"type":"string"},"secret":{"type":"string"},"name":{"type":"string"},"redirect_uri":{"type":"string","format":"uri","items":{"type":"string","format":"uri"}},"allowed_grant_types":{"type":"array","items":{"type":"string"}},"allowed_scopes":{"type":"array","items":{"type":"string"}},"team_id":{"type":"string"}},"additionalProperties":false,"required":["name","allowed_grant_types","allowed_scopes"]},"refreshToken-account-service":{"properties":{"id":{"type":"string"},"client_id":{"type":"string"},"token":{"type":"string"},"user_id":{"type":"string"},"integration_client_id":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"issued_at":{"type":"string","format":"date-time"},"expires_at":{"type":"string","format":"date-time"}},"required":["id","client_id","token","scopes","expires_at"]},"productSchema-account-service":{"type":"object","properties":{"id":{"type":"string","maxLength":191},"product_name":{"type":"string","maxLength":200},"display_name":{"type":"string","maxLength":200}},"required":["id","product_name","display_name"]},"getProductsSchema-account-service":{"type":"object","properties":{"id":{"type":"string","maxLength":191},"product_name":{"type":"string","maxLength":200},"display_name":{"type":"string","maxLength":200},"created_at":{"type":"string","format":"date-time"},"dependent_products":{"type":"array","items":{"type":"object","properties":{"product_name":{"type":"string","maxLength":200},"id":{"type":"string","maxLength":191}}}}},"required":["id","product_name","display_name"]},"productDependenciesSchema-account-service":{"type":"object","properties":{"product_id":{"type":"string","maxLength":191},"dependency_id":{"type":"string","maxLength":191}}},"roleAssignmentBody-account-service":{"type":"object","required":["context","subject_id","object_id"],"properties":{"context":{"type":"string"},"subject_id":{"type":"string"},"object_id":{"type":"string"},"expiration":{"type":"string"}}},"roleUpdateBody-account-service":{"type":"object","properties":{"role":{"type":"string"},"expiration":{"type":"string"}},"required":["role"]},"roleReplacementBody-account-service":{"type":"object","required":["roles"],"properties":{"roles":{"type":"object","required":["newRoles","oldRoles"],"properties":{"newRoles":{"minItems":1,"type":"array","items":{"type":"object","required":["context","subject_id","object_id"],"properties":{"context":{"type":"string"},"subject_id":{"type":"string"},"object_id":{"type":"string"},"expiration":{"type":"string"}}}},"oldRoles":{"type":"array","items":{"type":"object","required":["context","subject_id","object_id"],"properties":{"context":{"type":"string"},"subject_id":{"type":"string"},"object_id":{"type":"string"},"expiration":{"type":"string"}}}}}}}},"rolePermissions-account-service":{"type":"object","properties":{"context":{"type":"string","maxLength":191},"role":{"type":"string","maxLength":191},"permissions":{"type":"array","items":{"type":"string","maxLength":191}}},"required":["context","role","permissions"]},"teamProductAccessMapping-account-service":{"type":"object","description":"Map from product name to current access state.","additionalProperties":{"type":"string","enum":["active","inactive","view-only"]}},"teamProductAccessDetails-account-service":{"type":"object","description":"Map from product name to full access schedule.","additionalProperties":{"type":"object","properties":{"start_date":{"type":"string","format":"date-time","description":"Optional date at which product access should begin."},"expiration_date":{"type":"string","format":"date-time","description":"Optional date at which a product should expire. Null specifies indefinite access."},"product_id":{"type":"string","description":"id of the product."},"status":{"$ref":"#/definitions/teamProductAccessMapping-account-service"},"expiration_type":{"$ref":"#/definitions/teamProductExpirationType-account-service"}}}},"teamsProductAccessDetails-account-service":{"type":"object","description":"Map from team ID to product access map.","additionalProperties":{"type":"object","description":"Map from product name to full access schedule.","additionalProperties":{"type":"object","properties":{"start_date":{"type":"string","format":"date-time","description":"Optional date at which product access should begin."},"expiration_date":{"type":"string","format":"date-time","description":"Optional date at which a product should expire. Null specifies indefinite access."},"product_id":{"type":"string","description":"id of the product."},"status":{"$ref":"#/definitions/teamProductAccessMapping-account-service"},"expiration_type":{"$ref":"#/definitions/teamProductExpirationType-account-service"}}}}},"teamProductAccessUpdate-account-service":{"type":"object","description":"Map from product id to access update.","additionalProperties":{"type":"object","properties":{"start_date":{"type":"string","format":"date-time","description":"Optional date at which product access should begin."},"expiration_date":{"type":"string","format":"date-time","description":"Optional date at which a product should expire. Null specifies indefinite access."},"expiration_type":{"$ref":"#/definitions/teamProductExpirationType-account-service"}},"additionalProperties":false}},"teamProductExpirationType-account-service":{"type":"string","enum":["soft-expire","view-only","access-denied"],"description":"Type of product expiration."},"namespacedTeamSettings-account-service":{"type":"object","additionalProperties":{}},"namespacedTeamSettingsUpdate-account-service":{"type":"object","additionalProperties":{}},"fullTeamSettings-account-service":{"type":"object","additionalProperties":{"$ref":"#/definitions/namespacedTeamSettingsUpdate-account-service"}},"getTeamResult-account-service":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"descendant_team_ids":{"type":"array","items":{"type":"string","maxLength":191}},"parent_team_id":{"type":"string"}}},"createUpdateTeam-account-service":{"type":"object","properties":{"name":{"type":"string"},"descendant_team_ids":{"type":"array","items":{"type":"string","maxLength":191}},"parent_team_id":{"type":"string"}},"required":["name"]},"updateTeam-account-service":{"type":"object","properties":{"name":{"type":"string"},"descendant_team_ids":{"type":"array","items":{"type":"string","maxLength":191}},"parent_team_id":{"type":"string"}}},"userLoginFailureSchema-account-service":{"properties":{"id":{"type":"integer"},"email_address":{"type":"string","format":"email","maxLength":300},"session_id":{"type":"string","maxLength":191},"created_at":{"type":"string","format":"date-time"},"ip_address":{"type":"string"},"referrer":{"type":"string"},"reason":{"type":"string","maxLength":191,"enum":["locked","inactive","invalid_email","invalid_password","expired_password","saml_sso_error"]}},"required":["email_address","session_id","created_at","ip_address","reason"]},"userLoginSuccessSchema-account-service":{"properties":{"id":{"type":"integer"},"v4_user_id":{"type":"string","maxLength":191},"legacy_user_id":{"type":"integer"},"session_id":{"type":"string","maxLength":191},"created_at":{"type":"string","format":"date-time"},"ip_address":{"type":"string"},"referrer":{"type":"string"},"impersonated_by_id":{"type":"string","maxLength":191}},"required":["id","v4_user_id","legacy_user_id","session_id","created_at","ip_address"]},"userLoginRequestSchema-account-service":{"properties":{"status":{"enum":["success","failure"]},"sessionId":{"type":"string"},"ipAddress":{"type":"string"},"referer":{"type":"string"},"email":{"type":"string"},"reason":{"enum":["locked","inactive","invalid_email","invalid_password","expired_password","saml_sso_error"]},"userId":{"type":"string"},"legacyUserId":{"type":"integer"},"impersonatedById":{"type":"string"}}},"userLoginFailureRequestSchema-account-service":{"properties":{"status":{"enum":["failure"]},"sessionId":{"type":"string"},"ipAddress":{"type":"string"},"referer":{"type":"string"},"email":{"type":"string"},"reason":{"enum":["locked","inactive","invalid_email","invalid_password","expired_password","saml_sso_error"]}},"required":["status","sessionId","ipAddress","email","reason"]},"userLoginSuccessRequestSchema-account-service":{"properties":{"status":{"enum":["success"]},"sessionId":{"type":"string"},"ipAddress":{"type":"string"},"referer":{"type":"string"},"userId":{"type":"string"},"legacyUserId":{"type":"integer"},"impersonatedById":{"type":"string"}},"required":["status","sessionId","ipAddress","userId","legacyUserId"]},"resultCreateTeamAndAccountSchema-account-service":{"type":"object","properties":{"id":{"type":"string","maxLength":191},"name":{"type":"string","maxLength":191},"sf_account_id":{"type":"string","maxLength":18},"trial":{"type":"integer","minimum":0,"maximum":1},"plan_id":{"type":"string","maxLength":191},"payment_gateway":{"type":"string","maxLength":191},"payment_gateway_token":{"type":"string","maxLength":191},"team_id":{"type":"string","maxLength":191}},"required":["id","name","team_id"]},"resultUserSchema-account-service":{"type":"object","properties":{"name":{"type":"string","description":"full name of user"},"sortable_name":{"type":"string","description":"last name of user"},"addressable_name":{"type":"string","description":"first name of user"},"email":{"type":"string","format":"email","description":"email address"},"sf_contact_id":{"type":"string","pattern":"^003E[a-zA-Z0-9](?:.{15}|.{18})$","format":"string","description":"salesforce contact ID"},"phone_number":{"type":"string","format":"string","description":"phone number of user"},"platform_user_id":{"type":"string","pattern":"[a-zA-Z0-9]{8,32}","format":"string","description":"Cvent platform user id"},"id":{"type":"string"}}},"app-account-service":{"type":"object","properties":{"app_id":{"type":"string"},"settings":{"type":"string"},"failed":{"type":"string"}},"required":["app_id","settings"]},"widthLength-diagram-service":{"type":"object","additionalProperties":false,"properties":{"width":{"type":"number"},"length":{"type":"number"}}},"widthLengthStrict-diagram-service":{"required":["width","length"],"allOf":[{"$ref":"#/definitions/widthLength-diagram-service"}]},"xyPair-diagram-service":{"type":"object","additionalProperties":false,"properties":{"x":{"type":"number"},"y":{"type":"number"}}},"xyPairStrict-diagram-service":{"type":"object","required":["x","y"],"additionalProperties":false,"properties":{"x":{"type":"number"},"y":{"type":"number"}}},"dimensions-diagram-service":{"type":"object","additionalProperties":false,"properties":{"width":{"type":"number"},"length":{"type":"number"},"radius":{"type":"number"}}},"positiveNumber-diagram-service":{"type":"number","exclusiveMinimum":true,"minimum":0},"greaterThanOrEqualToZero-diagram-service":{"type":"integer","minimum":0},"numberOrNull-diagram-service":{"type":"number"},"stringOrNull-diagram-service":{"type":"string"},"theaterChairNumberIsOddEven-diagram-service":{"enum":["odd","even",true,false]},"nullableTheaterChairNumberIsOddEven-diagram-service":{"enum":["odd","even",true,false]},"diagrams__components/boundary-visibility-diagram-service":{"title":"Boundary Visibility","type":"object","additionalProperties":{"type":"boolean"}},"diagrams__auto-seat-diagram-service":{"title":"Diagram Auto Seat","type":"object","additionalProperties":false,"required":["guests"],"properties":{"guests":{"type":"array","items":{"$ref":"#/definitions/guests__guest-diagram-service"}},"floor_elements":{"type":"array","items":{"type":"string"}},"update_id":{"type":"string"}}},"diagrams__clone-diagram-service":{"title":"Diagram Clone","type":"object","additionalProperties":false,"required":["space_id"],"properties":{"space_id":{"type":"integer"},"event_id":{"type":"string"},"legacy_event_id":{"type":"integer"},"name":{"type":"string"},"start_datetime":{"type":"string","format":"date-time"},"end_datetime":{"type":"string","format":"date-time"}}},"diagrams__clone-multiple-diagram-service":{"title":"Diagram Clone Multiple","type":"object","additionalProperties":false,"required":["event_id","old_to_new_space_id_map"],"properties":{"event_id":{"type":"string"},"legacy_event_id":{"type":"integer"},"old_to_new_space_id_map":{"type":"object","additionalProperties":{"type":"integer"}}}},"diagrams__diagram-main-diagram-service":{"title":"Diagram","type":"object","allOf":[{"properties":{"space_id":{"type":"integer"},"session_id":{"type":"string"},"event_id":{"type":"string"},"legacy_event_id":{"type":"integer"},"team_id":{"description":"A legacy (v2) team id.","type":"string"},"floor_elements":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__floor-element-diagram-service"}},"groups":{"type":"object","additionalProperties":{"$ref":"#/definitions/groups__group-strict-diagram-service"}},"sections":{"type":"object","additionalProperties":{"$ref":"#/definitions/sections__section-strict-diagram-service"}},"boundary_visibility":{"$ref":"#/definitions/diagrams__components~1boundary-visibility-diagram-service"}}},{"$ref":"#/definitions/diagrams__diagram-core-diagram-service"}]},"diagrams__diagram-core-diagram-service":{"title":"Common diagram fields","type":"object","properties":{"deleted":{"type":"boolean"},"external_diagram_id":{"type":"string"},"external_event_id":{"type":"string"},"floorPlan":{"$ref":"#/definitions/floor-plans__floor-plan-diagram-service"},"guestlist_id":{"type":"string"},"length":{"$ref":"#/definitions/positiveNumber-diagram-service"},"name":{"type":"string","maxLength":255},"notes":{"$ref":"#/definitions/stringOrNull-diagram-service"},"prefunction_perimeter":{"$ref":"#/definitions/numberOrNull-diagram-service"},"rotation":{"type":"number"},"service_perimeter":{"$ref":"#/definitions/numberOrNull-diagram-service"},"sort_order":{"$ref":"#/definitions/numberOrNull-diagram-service"},"table_numbering":{"$ref":"#/definitions/diagrams__table-numbering-diagram-service"},"team_uploads_id":{"$ref":"#/definitions/stringOrNull-diagram-service"},"update_id":{"type":"string"},"width":{"$ref":"#/definitions/positiveNumber-diagram-service"},"start_datetime":{"type":"string","format":"date-time"},"end_datetime":{"type":"string","format":"date-time"}}},"diagrams__diagram-post-diagram-service":{"title":"Diagram POST","required":["event_id"],"type":"object","allOf":[{"$ref":"#/definitions/diagrams__diagram-main-diagram-service"},{"properties":{"layout_id":{"type":"string"},"return_diagram":{"type":"boolean"}}}]},"diagrams__diagram-post-proxy-diagram-service":{"title":"Diagram POST Proxy","description":"Diagram POST intended for use with proxy routes that can create an event and diagram together","type":"object","allOf":[{"$ref":"#/definitions/diagrams__diagram-main-diagram-service"},{"properties":{"layout_id":{"type":"string"},"return_diagram":{"type":"boolean"},"event_name":{"type":"string"},"event_start_date":{"type":"string"},"event_end_date":{"type":"string"},"status":{"type":"string"}}}]},"diagrams__diagram-put-diagram-service":{"title":"Diagram PUT","type":"object","allOf":[{"$ref":"#/definitions/diagrams__diagram-main-diagram-service"}]},"diagrams__diagram-response-diagram-service":{"title":"Diagram response","type":"object","allOf":[{"properties":{"id":{"type":"string"},"updated_at":{"type":"string"},"created_at":{"type":"string"},"chair_count":{"type":"integer"}}},{"$ref":"#/definitions/diagrams__diagram-main-diagram-service"}]},"diagrams__diagram-patch-diagram-service":{"title":"Diagram Patch","type":"object","allOf":[{"properties":{"boundary_visibility":{"additionalProperties":false,"properties":{"deletes":{"$ref":"#/definitions/diagrams__components~1boundary-visibility-diagram-service"},"inserts":{"$ref":"#/definitions/diagrams__components~1boundary-visibility-diagram-service"},"updates":{"$ref":"#/definitions/diagrams__components~1boundary-visibility-diagram-service"}},"type":"object"},"floor_elements":{"additionalProperties":false,"properties":{"deletes":{"type":"object","additionalProperties":{"type":"boolean"}},"inserts":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__floor-element-diagram-service"}},"updates":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__floor-element-updates-diagram-service"}}},"type":"object"},"groups":{"additionalProperties":false,"properties":{"deletes":{"additionalProperties":{"type":"boolean"},"type":"object"},"inserts":{"additionalProperties":{"$ref":"#/definitions/groups__group-strict-diagram-service"},"type":"object"},"updates":{"additionalProperties":{"$ref":"#/definitions/groups__group-diagram-service"},"type":"object"}},"type":"object"},"roomSettings":{"$ref":"#/definitions/room-settings__room-settings-diagram-service"},"sections":{"additionalProperties":false,"properties":{"deletes":{"type":"object","additionalProperties":{"type":"boolean"}},"inserts":{"type":"object","additionalProperties":{"$ref":"#/definitions/sections__section-strict-diagram-service"}},"updates":{"type":"object","additionalProperties":{"$ref":"#/definitions/sections__section-diagram-service"}}},"type":"object"}},"type":"object"},{"$ref":"#/definitions/diagrams__diagram-core-diagram-service"}]},"diagrams__reorder-diagram-service":{"title":"Diagram Reorder","type":"object","additionalProperties":false,"required":["targetIndex"],"properties":{"targetIndex":{"$ref":"#/definitions/greaterThanOrEqualToZero-diagram-service"}}},"diagrams__reorder-result-diagram-service":{"title":"Diagram Reorder Result","type":"object","additionalProperties":false,"required":["sort_order"],"properties":{"sort_order":{"$ref":"#/definitions/positiveNumber-diagram-service"}}},"diagrams__seat-diagram-service":{"title":"Diagram Seat","type":"object","additionalProperties":false,"required":["guest_seats"],"properties":{"guest_seats":{"type":"array","items":{"$ref":"#/definitions/guests__seat-diagram-service"}},"update_id":{"type":"string"}}},"diagrams__table-numbering-diagram-service":{"title":"Table Numbering","type":"object","additionalProperties":false,"properties":{"allowRepeats":{"type":"boolean"},"evenOnly":{"type":"boolean"},"oddOnly":{"type":"boolean"},"skipNumbers":{"type":"array","items":{"type":"integer"}},"skipNumbersWith":{"type":"array","items":{"type":"integer"}},"startingNumber":{"type":"integer"}}},"favorites__favorite-diagram-service":{"title":"Favorite","type":"object","additionalProperties":false,"required":["name","floor_elements"],"properties":{"user_id":{"type":"string"},"legacy_user_id":{"type":"integer"},"team_id":{"type":"string"},"legacy_team_id":{"type":"integer"},"space_id":{"type":"integer"},"name":{"type":"string"},"floor_elements":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__floor-element-diagram-service"}},"legacy_property_id":{"type":"integer"}}},"favorites__favorite-patch-diagram-service":{"title":"Favorite Patch","type":"object","additionalProperties":false,"required":["name"],"properties":{"name":{"type":"string"}}},"floor-elements__components/theater-chairs-diagram-service":{"title":"Table Metadata core fields","type":"object","properties":{"theaterChairNumberOffset":{"type":"integer"},"theaterChairNumberIsOddEven":{"$ref":"#/definitions/theaterChairNumberIsOddEven-diagram-service"},"theaterChairNumberIsReverse":{"type":"boolean"}}},"floor-elements__components/theater-chairs-nullable-diagram-service":{"title":"Theater Chairs With Nullable Properties","type":"object","properties":{"theaterChairNumberOffset":{"type":"integer"},"theaterChairNumberIsOddEven":{"$ref":"#/definitions/nullableTheaterChairNumberIsOddEven-diagram-service"},"theaterChairNumberIsReverse":{"type":"boolean"}}},"floor-elements__chair-core-diagram-service":{"title":"Common chair fields","type":"object","properties":{"custom_chair_id":{"type":"string"},"catalogCategoryTypeItemId":{"type":"integer"},"side":{"type":"integer"},"guest_id":{"type":"string"},"orientation":{"enum":["top","bottom","left","right","default"],"type":"string"}}},"floor-elements__chair-diagram-service":{"title":"Chair Floor Element","type":"object","allOf":[{"$ref":"#/definitions/floor-elements__chair-core-diagram-service"},{"properties":{"id":{"type":"string"},"type":{"type":"string"},"dimensions":{"$ref":"#/definitions/widthLength-diagram-service"},"side_index":{"type":"integer"}}}]},"floor-elements__chair-strict-diagram-service":{"title":"Strict Chair Floor Element","type":"object","required":["id","type","side_index"],"allOf":[{"$ref":"#/definitions/floor-elements__chair-core-diagram-service"},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"dimensions":{"$ref":"#/definitions/widthLengthStrict-diagram-service"},"side_index":{"type":"integer"}}}]},"floor-elements__floor-element-core-diagram-service":{"title":"Floor Element core fields","type":"object","properties":{"font_size":{"type":"number"},"group_id":{"type":"string"},"isObjectLabelToggled":{"type":"boolean"},"is_locked":{"type":"boolean"},"name":{"type":"string"},"number":{"type":"integer"},"objectLabelSize":{"type":"number"},"objectLabelType":{"enum":["text","icon"],"type":"string"},"object_meta":{"$ref":"#/definitions/floor-elements__object-meta-diagram-service"},"section_id":{"type":"string"}}},"floor-elements__floor-element-updates-diagram-service":{"title":"Floor Element update fields","type":"object","allOf":[{"properties":{"deleted":{"type":"boolean"},"color":{"type":"string"},"dimensions":{"$ref":"#/definitions/dimensions-diagram-service"},"layer":{"type":"integer"},"layout":{"type":"string"},"rotation":{"type":"number"},"position":{"$ref":"#/definitions/xyPair-diagram-service"},"table_meta":{"$ref":"#/definitions/floor-elements__table-meta-nullable-diagram-service"}}},{"$ref":"#/definitions/floor-elements__floor-element-core-diagram-service"}]},"floor-elements__floor-element-diagram-service":{"title":"Floor Element","type":"object","required":["color","dimensions","id","layer","layout","position","rotation"],"allOf":[{"properties":{"id":{"type":"string"},"catalogCategoryTypeItemId":{"type":"integer"},"color":{"type":"string"},"dimensions":{"$ref":"#/definitions/dimensions-diagram-service"},"layer":{"type":"integer"},"layout":{"type":"string"},"rotation":{"type":"number"},"position":{"$ref":"#/definitions/xyPairStrict-diagram-service"},"table_meta":{"$ref":"#/definitions/floor-elements__table-meta-strict-diagram-service"}}},{"$ref":"#/definitions/floor-elements__floor-element-core-diagram-service"}]},"floor-elements__line-connection-diagram-service":{"title":"Line Connection","type":"object","required":["object_id","ratio_x","ratio_y"],"properties":{"object_id":{"type":"string"},"ratio_x":{"type":"number"},"ratio_y":{"type":"number"}}},"floor-elements__line-connections-diagram-service":{"title":"Line Connections","type":"object","required":["head","tail"],"properties":{"head":{"$ref":"#/definitions/floor-elements__line-connection-diagram-service"},"tail":{"$ref":"#/definitions/floor-elements__line-connection-diagram-service"}}},"floor-elements__object-meta-core-diagram-service":{"title":"Object Metadata core fields","type":"object","properties":{"image":{"type":"string"},"path_def":{"type":"string"},"legacy_id":{"type":"integer"},"steps":{"type":"integer"},"line_thickness":{"type":"number"},"tile_dimensions":{"$ref":"#/definitions/widthLength-diagram-service"},"rope_number":{"type":"integer"},"connections":{"$ref":"#/definitions/floor-elements__line-connections-diagram-service"},"projector_image_type":{"type":"string"},"line_endpoints":{"$ref":"#/definitions/floor-elements__line-endpoints-diagram-service"}}},"floor-elements__object-meta-diagram-service":{"title":"Object Metadata","type":"object","allOf":[{"$ref":"#/definitions/floor-elements__object-meta-core-diagram-service"},{"type":"object","properties":{"tents":{"$ref":"#/definitions/floor-elements__tent-diagram-service"}}}]},"floor-elements__object-meta-strict-diagram-service":{"title":"Strict Object Metadata","type":"object","allOf":[{"$ref":"#/definitions/floor-elements__object-meta-core-diagram-service"},{"type":"object","properties":{"tents":{"$ref":"#/definitions/floor-elements__tent-strict-diagram-service"}}}]},"floor-elements__table-meta-core-diagram-service":{"title":"Table Metadata core fields","type":"object","allOf":[{"type":"object","properties":{"legacy_id":{"type":"integer"},"removed":{"type":"integer"},"theater_curve":{"type":"number"},"useCustomSeatNumbering":{"type":"boolean"},"sectionLabelling":{"type":"string"},"useCustomSectionLabelling":{"type":"boolean"}}},{"$ref":"#/definitions/floor-elements__components~1theater-chairs-diagram-service"}]},"floor-elements__table-meta-core-nullable-diagram-service":{"title":"Table Metadata Core Fields With Nullable Fields","type":"object","allOf":[{"type":"object","properties":{"legacy_id":{"type":"integer"},"removed":{"type":"integer"},"theater_curve":{"type":"number"},"useCustomSeatNumbering":{"type":"boolean"},"sectionLabelling":{"type":"string"},"useCustomSectionLabelling":{"type":"boolean"}}},{"$ref":"#/definitions/floor-elements__components~1theater-chairs-nullable-diagram-service"}]},"floor-elements__table-meta-diagram-service":{"title":"Table Metadata","type":"object","allOf":[{"$ref":"#/definitions/floor-elements__table-meta-core-diagram-service"},{"properties":{"chairs":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__chair-diagram-service"}}}}]},"floor-elements__table-meta-nullable-diagram-service":{"title":"Table Metadata With Nullable Properties","type":"object","allOf":[{"$ref":"#/definitions/floor-elements__table-meta-core-nullable-diagram-service"},{"properties":{"chairs":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__chair-diagram-service"}}}}]},"floor-elements__table-meta-strict-diagram-service":{"title":"Object Metadata","type":"object","required":["chairs"],"allOf":[{"$ref":"#/definitions/floor-elements__table-meta-core-diagram-service"},{"properties":{"chairs":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__chair-strict-diagram-service"}}}}]},"floor-elements__tent-diagram-service":{"title":"Tent Floor Element","type":"object","additionalProperties":false,"properties":{"hor":{"type":"number"},"ver":{"type":"number"},"type":{"type":"string"}}},"floor-elements__tent-strict-diagram-service":{"title":"Strict Tent Floor Element","type":"object","required":["hor","ver","type"],"allOf":[{"$ref":"#/definitions/floor-elements__tent-diagram-service"}]},"floor-elements__line-endpoints-diagram-service":{"title":"Line Endpoints","type":"object","properties":{"head":{"enum":["arrow"]},"tail":{"enum":["arrow"]}}},"floor-plans__floor-plan-diagram-service":{"title":"Floor Plan","type":"object","additionalProperties":false,"properties":{"type":{"enum":["bookableRoom","spaceTemplate","image","background"],"type":"string"},"id":{"type":"integer"},"url":{"type":"string"},"background_type":{"type":"string"}}},"groups__group-diagram-service":{"title":"Group","type":"object","additionalProperties":false,"properties":{"template_config":{"$ref":"#/definitions/template-config__template-config-diagram-service"},"favorite_id":{"type":"string"},"group_rotation":{"type":"integer"},"template_preset_id":{"type":"string"}}},"groups__group-strict-diagram-service":{"title":"Strict Group","type":"object","additionalProperties":false,"required":["id"],"properties":{"id":{"type":"string"},"template_config":{"$ref":"#/definitions/template-config__template-config-strict-diagram-service"},"favorite_id":{"type":"string"},"group_rotation":{"type":"integer"},"template_preset_id":{"type":"string"}}},"sections__section-diagram-service":{"title":"Section","type":"object","properties":{"label":{"type":"string"},"template_config":{"$ref":"#/definitions/template-config__template-config-diagram-service"}}},"sections__section-strict-diagram-service":{"title":"Strict Section","type":"object","allOf":[{"type":"object","required":["id"],"properties":{"id":{"type":"string"}}},{"$ref":"#/definitions/sections__section-diagram-service"}]},"guests__guest-diagram-service":{"title":"Guest","type":"object","additionalProperties":false,"required":["id"],"properties":{"id":{"type":"string"},"group_id":{"type":"string"}}},"guests__seat-diagram-service":{"title":"Guest Seat","type":"object","additionalProperties":false,"required":["floor_element_id","chair_id"],"properties":{"floor_element_id":{"type":"string"},"chair_id":{"type":"string"},"guest_id":{"type":"string"}}},"layouts__layout-diagram-service":{"title":"Layout","type":"object","additionalProperties":false,"required":["name"],"properties":{"name":{"type":"string"},"rotation":{"type":"number"},"length":{"type":"number"},"width":{"type":"number"},"space_id":{"type":"integer"},"legacy_team_id":{"type":"integer"},"space_template_id":{"type":"integer"},"bookable_room_id":{"type":"integer"},"team_id":{"type":"string"},"floor_elements":{"type":"object","additionalProperties":{"$ref":"#/definitions/floor-elements__floor-element-diagram-service"}},"groups":{"type":"object","additionalProperties":{"$ref":"#/definitions/groups__group-strict-diagram-service"}},"catalog_id":{"type":"integer"}}},"layouts__layout-patch-diagram-service":{"title":"Layout Patch","type":"object","additionalProperties":false,"required":["name"],"properties":{"deleted":{"type":"boolean"},"name":{"type":"string"},"proposeMetadata":{"type":"object","additionalProperties":false,"properties":{"capacity":{"type":"integer"}}}}},"layouts__layout-clone-diagram-service":{"title":"Layout Clone","type":"object","additionalProperties":false,"properties":{"team_id":{"type":"string"},"legacy_team_id":{"type":"integer"}}},"template-config__aisle-diagram-service":{"title":"Template Aisle","type":"object","properties":{"width":{"type":"number"},"floorElementsBetween":{"type":"number"}}},"template-config__aisle-strict-diagram-service":{"title":"Template Aisle Strict","type":"object","required":["width"],"allOf":[{"$ref":"#/definitions/template-config__aisle-diagram-service"}]},"template-config__aisles-diagram-service":{"title":"Template Aisles","type":"object","additionalProperties":false,"properties":{"vertical":{"$ref":"#/definitions/template-config__aisle-diagram-service"},"horizontal":{"$ref":"#/definitions/template-config__aisle-diagram-service"}}},"template-config__aisles-strict-diagram-service":{"title":"Strict Template Aisles","type":"object","additionalProperties":false,"required":["vertical","horizontal"],"properties":{"vertical":{"$ref":"#/definitions/template-config__aisle-strict-diagram-service"},"horizontal":{"$ref":"#/definitions/template-config__aisle-strict-diagram-service"}}},"template-config__meta-diagram-service":{"title":"Template Table","type":"object","additionalProperties":false,"properties":{"rows":{"type":"integer"},"cols":{"type":"integer"}}},"template-config__meta-strict-diagram-service":{"title":"Strict Template Metadata","type":"object","required":["rows","cols"],"allOf":[{"$ref":"#/definitions/template-config__meta-diagram-service"}]},"template-config__table-diagram-service":{"title":"Template Table","type":"object","additionalProperties":false,"properties":{"size":{"$ref":"#/definitions/dimensions-diagram-service"},"spacing":{"$ref":"#/definitions/xyPair-diagram-service"},"rotation":{"type":"number"}}},"template-config__table-strict-diagram-service":{"title":"Strict Template Table","type":"object","additionalProperties":false,"properties":{"size":{"$ref":"#/definitions/dimensions-diagram-service"},"spacing":{"$ref":"#/definitions/xyPairStrict-diagram-service"},"rotation":{"type":"number"}}},"template-config__template-config-core-diagram-service":{"title":"Template Config core fields","type":"object","properties":{"setup":{"type":"string"},"chevronAngle":{"type":"integer"},"chairs":{"type":"integer"},"chairOrientation":{"type":"string"},"chairType":{"type":"string"},"column":{"type":"object","properties":{"spacing":{"type":"number"}}},"floorElementType":{"type":"string"},"chairSides":{"type":"object","additionalProperties":false,"properties":{"side_1_count":{"type":"integer"},"side_2_count":{"type":"integer"},"side_3_count":{"type":"integer"},"side_4_count":{"type":"integer"}}},"chair":{"type":"object","additionalProperties":false,"properties":{"size":{"$ref":"#/definitions/dimensions-diagram-service"}}},"rotation":{"type":"number"},"relativeRotation":{"type":"number"},"locations":{"type":"object","additionalProperties":{"type":"string"}},"theaterCurve":{"type":"integer"},"theaterChairNumberOffset":{"type":"number"},"theaterChairNumberIsOddEven":{"$ref":"#/definitions/theaterChairNumberIsOddEven-diagram-service"},"theaterChairNumberIsReverse":{"type":"boolean"},"theaterChairNumbersOmitted":{"type":"array","items":{"type":"integer"}},"sectionName":{"type":"string"},"sectionLabelling":{"enum":["alphabetical","numerical","none"],"type":"string"},"sectionLabellingRowOffset":{"type":"number"},"sectionLabellingRowIsReverse":{"type":"boolean"},"sectionLabellingRowsOmitted":{"type":"array","items":{"type":"integer"}},"catalogCategoryTypeItemId":{"type":"integer"},"chairCatalogCategoryTypeItemId":{"type":"integer"},"removedSeats":{"type":"integer"},"color":{"type":"string"}}},"template-config__template-config-diagram-service":{"title":"Template Config","type":"object","allOf":[{"type":"object","properties":{"table":{"$ref":"#/definitions/template-config__table-diagram-service"},"aisles":{"$ref":"#/definitions/template-config__aisles-diagram-service"},"meta":{"$ref":"#/definitions/template-config__meta-diagram-service"}}},{"$ref":"#/definitions/template-config__template-config-core-diagram-service"}]},"template-config__template-config-strict-diagram-service":{"title":"Strict Template Config","type":"object","required":["setup"],"allOf":[{"type":"object","properties":{"table":{"$ref":"#/definitions/template-config__table-strict-diagram-service"},"aisles":{"$ref":"#/definitions/template-config__aisles-strict-diagram-service"},"meta":{"$ref":"#/definitions/template-config__meta-strict-diagram-service"}}},{"$ref":"#/definitions/template-config__template-config-core-diagram-service"}]},"room-settings__room-settings-diagram-service":{"title":"Room Settings","type":"object","properties":{"fireCode":{"$ref":"#/definitions/room-settings__fire-code-diagram-service"},"details":{"$ref":"#/definitions/room-settings__room-details-diagram-service"},"diagramCheckSettings":{"$ref":"#/definitions/room-settings__diagram-check-settings-diagram-service"}}},"room-settings__fire-code-diagram-service":{"title":"Fire Code","type":"object","properties":{"attendeeCount":{"type":"integer"},"exitingRequired":{"type":"number"},"maxCapacity":{"type":"integer"},"totalExiting":{"type":"number"},"usableSpace":{"type":"number"}}},"room-settings__room-details-diagram-service":{"title":"Room Details","type":"object","properties":{"width":{"type":"number"},"length":{"type":"number"},"rotation":{"type":"number"},"addedDimension":{"type":"number"},"serviceAreaPerimeter":{"type":"number"}}},"room-settings__diagram-check-settings-diagram-service":{"title":"Diagram Check Settings","type":"object","additionalProperties":false,"required":["chairDistance","tableDistance","maxCapacity","isChairDistanceEnabled","isTableDistanceEnabled","isMaxCapacityEnabled","shouldIgnoreChairs"],"properties":{"chairDistance":{"type":"number"},"tableDistance":{"type":"number"},"addedElementDistance":{"type":"number"},"maxCapacity":{"type":"integer"},"isChairDistanceEnabled":{"type":"boolean"},"isTableDistanceEnabled":{"type":"boolean"},"isAddedElementDistanceEnabled":{"type":"boolean"},"isMaxCapacityEnabled":{"type":"boolean"},"shouldIgnoreChairs":{"type":"boolean"},"compareAddedElementsWith":{"type":"string"},"addedElementIds":{"type":"string"},"ignoredElementIds":{"type":"string"}}},"template-presets__template-preset-diagram-service":{"title":"Template Preset","type":"object","additionalProperties":false,"properties":{"id":{"type":"string"},"type":{"type":"string"},"owner_id":{"type":"string"},"name":{"type":"string"},"legacy_property_id":{"type":"integer"},"definition":{"type":"object","additionalProperties":false,"properties":{"template_config":{"$ref":"#/definitions/template-config__template-config-diagram-service"}}}},"required":["definition"]},"template-presets__template-preset-patch-diagram-service":{"title":"Template Preset Patch","type":"object","additionalProperties":false,"required":["name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}},"template-presets__template-preset-post-diagram-service":{"title":"Template Preset Post","allOf":[{"$ref":"#/definitions/template-presets__template-preset-diagram-service"}]},"template-presets__template-preset-strict-diagram-service":{"title":"Template Preset Strict","type":"object","additionalProperties":false,"required":["type","owner_id","definition"],"properties":{"type":{"type":"string"},"owner_id":{"type":"string"},"name":{"type":"string"},"definition":{"type":"object","properties":{"template_config":{"$ref":"#/definitions/template-config__template-config-strict-diagram-service"}}}}},"checkinBulk-guest-list-service":{"properties":{"guests":{"type":"array","items":{"type":"string"},"description":"Array of Guest IDs"},"checked_in":{"type":"integer","enum":[0,1,2],"description":"0 = Check-in reset, 1 = Check-in, 2 = Check-out"}},"required":["guests"],"example":{"guests":["99b4ae20-2779-11e6-b0b7-13c2616041ae","99b4ae21-2779-11e6-b0b7-13c2616041ae"],"checked_in":1}},"group-guest-list-service":{"type":"object","properties":{"id":{"type":"string"},"guestlist_id":{"type":"string"},"guest_count":{"type":"integer"},"is_named":{"type":"boolean"},"guests":{"type":"array","items":{"$ref":"#/definitions/guests-guest-list-service"}}},"required":["id"],"example":{"id":"1db84340-2779-11e6-88c6-db7134cc99b6","name":"Group A","guestlist_id":"1dad46c0-2779-11e6-88c6-db7134cc99b6","guest_count":2,"guests":[{"id":"1db18c80-2779-11e6-88c6-db7134cc99b6","guestlist_id":"1dad46c0-2779-11e6-88c6-db7134cc99b6","first_name":"Test","last_name":"One"},{"id":"1db18c81-2779-11e6-88c6-db7134cc99b6","guestlist_id":"1dad46c0-2779-11e6-88c6-db7134cc99b6","first_name":"Test","last_name":"Two"}]}},"groupBulk-guest-list-service":{"type":"object","properties":{"action":{"type":"string","enum":["CREATE","DELETE"]},"guests":{"type":"array","items":{"$ref":"#/definitions/guests-guest-list-service"}}},"required":["guests","action"],"example":{"action":"CREATE | DELETE","guests":["99b4ae20-2779-11e6-b0b7-13c2616041ae","99b4ae21-2779-11e6-b0b7-13c2616041ae"]}},"groupCreate-guest-list-service":{"type":"object","properties":{"guests":{"type":"array","items":{"type":"string","description":"id of guest"}}},"required":["guests"],"example":{"guests":["99b4ae20-2779-11e6-b0b7-13c2616041ae","99b4ae21-2779-11e6-b0b7-13c2616041ae"]}},"guestlistExternalHistory-guest-list-service":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date-time","description":"Timestamp of the change"},"first_name":{"type":"string","description":"First name of the guest"},"last_name":{"type":"string","description":"Last name of the guest"},"type":{"type":"string","description":"Type of change"},"attributes":{"type":"object","description":"Additional change attributes","properties":{"deleted":{"type":"boolean","description":"Whether the guest was deleted"},"updatedFields":{"type":"array","items":{"type":"string"},"description":"Fields that were updated"}}}},"required":["date","first_name","last_name","type"]}},"guestlists-guest-list-service":{"type":"object","properties":{"id":{"type":"string","description":"id of guestlists"},"session_id":{"type":"string","description":"session_id of guestlists"},"event_id":{"type":"string","description":"event_id"},"name":{"type":"string","description":"name"},"deleted":{"type":"integer","description":"name"}},"required":["id","name","event_id"]},"guests-guest-list-service":{"type":"object","properties":{"id":{"type":"string","description":"id of guest"},"first_name":{"type":"string","description":"first name of guest"},"last_name":{"type":"string","description":"last name of guest"},"email":{"type":"string","description":"email address"},"checked_in_status":{"type":"object","description":"checkin data","properties":{"checked_in":{"type":"integer"},"checked_in_at":{"type":"string","format":"date-time"},"checked_out_at":{"type":"string","format":"date-time"}}},"tags":{"type":"array","items":{"$ref":"#/definitions/tags-guest-list-service"}},"meals":{"type":"array","items":{"$ref":"#/definitions/meals-guest-list-service"}}},"required":["id","first_name","last_name"]},"guestsWithSeating-guest-list-service":{"type":"object","properties":{"id":{"type":"string","description":"id of guest"},"first_name":{"type":"string","description":"first name of guest"},"last_name":{"type":"string","description":"last name of guest"},"email":{"type":"string","description":"email address"},"checked_in_status":{"type":"object","description":"checkin data","properties":{"checked_in":{"type":"integer"},"checked_in_at":{"type":"string","format":"date-time"},"checked_out_at":{"type":"string","format":"date-time"}}},"tags":{"type":"array","items":{"$ref":"#/definitions/tags-guest-list-service"}},"meals":{"type":"array","items":{"$ref":"#/definitions/meals-guest-list-service"}},"seating":{"type":"object","description":"seating data","properties":{"table_name":{"type":"string"},"table_number":{"type":"string"},"seat_number":{"type":"string"},"section_name":{"type":"string"}}}},"required":["id","first_name","last_name"]},"meals-guest-list-service":{"type":"object","properties":{"title":{"type":"string","description":"name of meal"}},"required":["title"]},"tags-guest-list-service":{"type":"object","properties":{"title":{"type":"string","description":"title of tag"},"color":{"type":"string","description":"color of tag"}},"required":["title"]},"CustomSetupPost-layout-automation-service":{"required":["category","spaces"],"type":"object","properties":{"event_id":{"type":"number"},"uses_metric":{"type":"boolean"},"start_time":{"format":"date-time","type":"string"},"end_time":{"format":"date-time","type":"string"},"category":{"type":"string"},"name":{"type":"string","description":"Required if no event_id is provided."},"public":{"type":"boolean"},"attendee_management":{"type":"boolean"},"useSocialDistance":{"type":"boolean"},"spaces":{"items":{"$ref":"#/definitions/SpaceCustomSetup-layout-automation-service"},"type":"array"},"user_email":{"type":"string"},"team_id":{"type":"number"}}},"CustomWizardPost-layout-automation-service":{"required":["category","spaces"],"type":"object","properties":{"event_id":{"type":"number"},"uses_metric":{"type":"boolean"},"start_time":{"format":"date-time","type":"string"},"end_time":{"format":"date-time","type":"string"},"category":{"type":"string"},"name":{"type":"string","description":"Required if no event_id is provided."},"public":{"type":"boolean"},"attendee_management":{"type":"boolean"},"useSocialDistance":{"type":"boolean"},"spaces":{"items":{"$ref":"#/definitions/SpaceCustomWizard-layout-automation-service"},"type":"array"},"user_email":{"type":"string"},"team_id":{"type":"number"}}},"PersistedAutomationPostResponse-layout-automation-service":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"user_id":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"is_a_sample":{"type":"integer"},"category":{"type":"string"},"is_public":{"type":"boolean"},"pricing_plan":{"type":"string"},"team_id":{"type":"integer"},"eventbrite_event_id":{"type":"string"},"eventbrite_access_token":{"type":"string"},"last_accessed":{"type":"string","format":"date-time"},"logo":{"type":"string"},"floor_only":{"type":"integer"},"is_archived":{"type":"boolean"},"aim_only":{"type":"integer"},"start_time":{"type":"string","format":"date-time"},"end_time":{"type":"string","format":"date-time"},"mobile_col1":{"type":"integer"},"mobile_col2":{"type":"integer"},"event_url":{"type":"string"},"screenshot_url":{"type":"string"},"thumb_url":{"type":"string"},"forTraining":{"type":"boolean"},"uses_metric":{"type":"integer"},"collaborators_expire_at":{"type":"string","format":"date-time"},"venue_mapper_version":{"type":"integer"},"uid":{"type":"string"},"cvent_rfp_id":{"type":"string"},"last_activity":{"type":"string","format":"date-time"},"has_time":{"type":"boolean"},"status":{"type":"string"},"industry":{"type":"string"},"author":{"$ref":"#/definitions/EventAuthor-layout-automation-service"},"spaces":{"type":"array","items":{"$ref":"#/definitions/SpaceResult-layout-automation-service"}},"message":{"type":"string"}}},"PreviewResponse-layout-automation-service":{"type":"object","properties":{"diagram":{"type":"object","properties":{"floor_elements":{"type":"object"},"groups":{"type":"object"}}},"layout":{"type":"object"},"summary":{"$ref":"#/definitions/AutomationSummary-layout-automation-service"}}},"PreviewPost-layout-automation-service":{"type":"object","required":["name","layoutSpec"],"properties":{"name":{"type":"string"},"layoutSpec":{"$ref":"#/definitions/TemplatedLayoutSpec-layout-automation-service","description":"You can alternatively supply a 'custom_setup' string from your team_settings, along with an 'attendees' integer."},"uses_metric":{"type":"boolean"},"bookable_room":{"type":"string"}}},"SpaceCustomSetup-layout-automation-service":{"type":"object","required":["name","custom_setup","attendees"],"properties":{"id":{"type":"integer"},"name":{"type":"string"},"external_event_id":{"type":"string"},"external_diagram_id":{"type":"string"},"venue_id":{"type":"string"},"custom_setup":{"type":"string"},"attendees":{"type":"integer","maximum":10000}}},"SpaceCustomWizard-layout-automation-service":{"type":"object","required":["name","attendees"],"properties":{"id":{"type":"integer"},"attendees":{"type":"integer","maximum":10000},"wizard":{"$ref":"#/definitions/TemplatedLayoutSpec-layout-automation-service","description":"One of 'wizard' or 'layoutSpec' must be provided."},"layoutSpec":{"$ref":"#/definitions/TemplatedLayoutSpec-layout-automation-service","description":"One of 'wizard' or 'layoutSpec' must be provided."},"name":{"type":"string"},"external_event_id":{"type":"string"},"external_diagram_id":{"type":"string"},"venue_id":{"type":"string"},"custom_setup":{"type":"string"}}},"ItemPlacementSummary-layout-automation-service":{"type":"object","properties":{"required":{"type":"integer"},"placed":{"type":"integer"},"unplaced":{"type":"integer"},"extra":{"type":"integer"}}},"AutomationSummary-layout-automation-service":{"type":"object","properties":{"attendeesRequested":{"type":"integer"},"setupType":{"type":"integer"},"tables":{"$ref":"#/definitions/ItemPlacementSummary-layout-automation-service"},"chairs":{"$ref":"#/definitions/ItemPlacementSummary-layout-automation-service"},"equipment":{"type":"object","properties":{"tables":{"type":"integer"},"chairs":{"type":"integer"},"misc":{"type":"integer"}}},"issues":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object"}},"warnings":{"type":"array","items":{"type":"object"}}}}}},"EventAuthor-layout-automation-service":{"type":"object","properties":{"id":{"type":"integer"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email_address":{"type":"string"}}},"SpaceResult-layout-automation-service":{"type":"object","properties":{"id":{"type":"integer"},"event_id":{"type":"integer"},"space_order":{"type":"integer"},"bookable_room":{"type":"string"},"venue_id":{"type":"string"},"name":{"type":"string"},"updated_at":{"type":"string","format":"date-time"},"is_new":{"type":"boolean"},"diagram_id":{"type":"string"},"pdf_url":{"type":"string"},"warnings":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"resolution":{"type":"string"}}}},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"resolution":{"type":"string"}}}}}},"TemplatedLayoutSpec-layout-automation-service":{"type":"object","properties":{"setup":{"type":"string","enum":["aligned","classroom","conference-table","hollow","hollow-square","staggered","theater","theater-row","theatre","u-shape"],"default":"aligned"},"attendees":{"type":"integer","minimum":0,"maximum":10000},"chairType":{"type":"string","enum":["banquet","chiavari","ghost"]},"chairs":{"type":"object","properties":{"size":{"type":"object","properties":{"length":{"type":"number","minimum":0},"width":{"type":"number","minimum":0}}}}},"rotation":{"type":"number","default":0,"description":"The rotation relative to the viewport."},"table":{"$ref":"#/definitions/Table-layout-automation-service","default":{"chairs":2,"size":{"width":24,"length":12,"radius":20},"spacing":{"x":0,"y":0}}},"aisles":{"type":"object","properties":{"horizontal":{"$ref":"#/definitions/Aisle-layout-automation-service"},"vertical":{"$ref":"#/definitions/Aisle-layout-automation-service","default":{"width":36,"floorElementsBetween":15}}},"default":{"horizontal":{},"vertical":{}}},"chevronAngle":{"type":"number","default":0},"ignore_doors_and_columns":{"type":"boolean","description":"True and undefined result in skipping collision checks with permanentObjects"},"best_effort_capacity":{"type":"boolean","description":"Whether a failure to seat all attendees is acceptable. False will throw a fatal error if not all attendees can be seated. True will seat the max possible and add a ctx error message"},"errors_in_diagram":{"type":"boolean","default":true,"description":"Add error text to the diagram."},"nudgeOnCollide":{"type":"boolean","description":"On collision, nudge tables slightly to a nearby valid position if any exists. Note: This may slightly compromise a setup's natural shape."},"updatedRects":{"type":"boolean","description":"Uses an improved algorithm to detect bounding boxes in a floorplan. It usually results in larger valid areas being detected."}},"required":["attendees"]},"Aisle-layout-automation-service":{"type":"object","properties":{"width":{"type":"number","default":0},"floorElementsBetween":{"type":"integer","default":0,"description":"Number of floor elements that should be placed in a row or column before an aisle is placed."}}},"Table-layout-automation-service":{"type":"object","required":["chairs","size","spacing"],"properties":{"type":{"type":"string","enum":["chair","oval","oval-table","rectangle","rectangle-table","square","square-table","theatre","circle","circle-table","crescent","crescent-table","half-circle-table","high-boy","serpentine","serpentine-table"]},"size":{"type":"object","properties":{"width":{"type":"number","minimum":0},"length":{"type":"number","minimum":0},"radius":{"type":"number","minimum":0}},"description":"For round tables, radius is required. All other tables require length and width."},"chairs":{"type":"integer","minimum":0},"position":{"$ref":"#/definitions/PositionString-layout-automation-service"},"spacing":{"type":"object","properties":{"x":{"type":"number","default":0},"y":{"type":"number","default":0}},"default":{"x":0,"y":0}},"cullAdditionalTables":{"type":"boolean","description":"Whether to cull extraneous tables beyond the requested attendee count, if any. It has no bearing on whether tables that collide with existing objects should be culled."},"placeEvenlyAcrossLayout":{"type":"boolean","description":"Should the automator attempt to place tables evenly across the space? False will limit tables to the largest 'region of interest' within the room."},"removeChairs":{"type":"integer","minimum":0,"description":"The number of chairs to remove for crescent tables. Ignored for other floor elements."},"rotateCrescentOffset":{"type":"number","description":"The offset for where the missing chairs should be for crescent tables. Ignored for other floor elements."}}},"PositionString-layout-automation-service":{"type":"string","enum":["center","nw","sw","ne","se","n","s","e","w"],"default":"center"},"EventDiagramsPostBody-layout-automation-service":{"type":"object","properties":{"eventName":{"type":"string","minLength":1,"maxLength":128},"startTime":{"type":"string","format":"date-time","description":"The date/time (UTC) at which the event begins. Must be in ISO 8601 format. Value must not be later than `endTime`."},"endTime":{"type":"string","format":"date-time","description":"The date/time (UTC) at which the event ends. Must be in ISO 8601 format. Value must not be earlier than `startTime`."},"public":{"type":"boolean","description":"Whether the event is publicly accessible.","default":false},"category":{"type":"string","minLength":1,"maxLength":128,"default":"other"},"usesMetric":{"type":"boolean","description":"Whether the event's diagram uses metric units.","default":false},"externalEventId":{"type":"string","minLength":1,"maxLength":229,"description":"An (optional) external identifier for the event, which can be used to associate it with an event in an external system. An error will occur if this value is already in use by another event."},"diagrams":{"type":"array","minItems":1,"items":{"$ref":"#/definitions/EventDiagramsPostBody_Diagram-layout-automation-service"}}},"required":["eventName","startTime","endTime","diagrams"],"example":{"eventName":"Event Diagramming Conference","startTime":"2025-04-01T00:00:00Z","endTime":"2025-04-04T23:59:59Z","public":true,"category":"Conference","usesMetric":false,"externalEventId":"external-event-123","diagrams":[{"diagramName":"Keynote Speech -- Main Ballroom","roomId":"c1234abcd90123456abcd123","externalDiagramId":"external-diagram-123"}]}},"EventDiagramsPostBody_Diagram-layout-automation-service":{"type":"object","properties":{"diagramName":{"type":"string","minLength":1,"maxLength":255},"roomId":{"type":"string","minLength":25,"maxLength":25,"pattern":"^c[a-zA-Z0-9]{24}$","description":"An identifier for the room in which the event is to occur."},"externalDiagramId":{"type":"string","minLength":1,"maxLength":229,"description":"An (optional) external identifier for the diagram, which can be used to associate it with a booking in an external system. An error will occur if this value is already in use by another diagram."}},"required":["diagramName","roomId"]},"EventDiagramsPostResponseBody-layout-automation-service":{"type":"object","properties":{"event":{"$ref":"#/definitions/EventDiagramsPostResponseBody_Event-layout-automation-service"}},"required":["event"],"example":{"event":{"eventId":"1fde7979-c808-4524-9a58-7d96a0123456","eventUrl":"https://home.socialtables.com/events/1fde7979-c808-4524-9a58-7d96a0123456","externalEventId":"external-event-123","eventName":"Event Diagramming Conference","startTime":"2025-04-01T00:00:00Z","endTime":"2025-04-04T23:59:59Z","public":true,"category":"Conference","usesMetric":false,"diagrams":[{"diagramId":"c9069ae3-0741-4c88-a3f7-89f0f40a1234","diagramName":"Keynote Speech -- Main Ballroom","roomId":"c1234abcd90123456abcd123","externalDiagramId":"external-diagram-123","pdfUrl":"https://diagram.socialtables.com/diagram/c9069ae3-0741-4c88-a3f7-89f0f40a1234/pdf","diagramUrl":"https://diagram.socialtables.com/diagram/c9069ae3-0741-4c88-a3f7-89f0f40a1234"},{"diagramId":"c6045f60-7053-418f-9ab7-7bfa95a0432b","diagramName":"Breakout Session -- Room 101","roomId":"c1234abcd90123456xyz56789","externalDiagramId":"external-diagram-101","pdfUrl":"https://diagram.socialtables.com/diagram/c6045f60-7053-418f-9ab7-7bfa95a0432b/pdf","diagramUrl":"https://diagram.socialtables.com/diagram/c6045f60-7053-418f-9ab7-7bfa95a0432b"}],"createdAt":"2025-03-25T18:42:35.000Z","updatedAt":"2025-03-25T18:42:35.000Z"}}},"EventDiagramsPostResponseBody_Event-layout-automation-service":{"type":"object","properties":{"eventId":{"type":"string"},"eventUrl":{"type":"string","format":"uri","description":"A URL that can be used to view the event in the web application."},"eventName":{"type":"string"},"externalEventId":{"type":"string"},"public":{"type":"boolean","description":"Whether the event is publicly accessible."},"category":{"type":"string","minLength":1},"usesMetric":{"type":"boolean","description":"Whether the event's diagram uses metric units."},"diagrams":{"type":"array","minItems":1,"items":{"$ref":"#/definitions/EventDiagramsPostResponseBody_Diagram-layout-automation-service"}},"createdAt":{"type":"string","format":"date-time","description":"The date/time at which the event was created."},"updatedAt":{"type":"string","format":"date-time","description":"The date/time at which the event was last updated."}},"required":["eventId","eventUrl","eventName","public","category","usesMetric","diagrams","createdAt","updatedAt"]},"EventDiagramsPostResponseBody_Diagram-layout-automation-service":{"type":"object","properties":{"diagramId":{"type":"string"},"diagramName":{"type":"string"},"diagramUrl":{"type":"string","format":"uri","description":"A URL that can be used to view the diagram in the web application."},"pdfUrl":{"type":"string","format":"uri","description":"A URL that can be used to view/download the diagram as a PDF document."},"externalDiagramId":{"type":"string"}},"required":["diagramId","diagramName","diagramUrl","pdfUrl"]},"EventDiagramsAmadeusIntegrationPostBody-layout-automation-service":{"type":"object","properties":{"data":{"type":"object"}},"required":["data"],"example":{"data":{}}},"EventDiagramsIntegrationPostBody-layout-automation-service":{"type":"object","properties":{"eventName":{"type":"string","minLength":1,"maxLength":128},"startTime":{"type":"string","format":"date-time","description":"The date/time (UTC) at which the event begins. Must be in ISO 8601 format. Value must not be later than `endTime`."},"endTime":{"type":"string","format":"date-time","description":"The date/time (UTC) at which the event ends. Must be in ISO 8601 format. Value must not be earlier than `startTime`."},"public":{"type":"boolean","description":"Whether the event is publicly accessible.","default":false},"category":{"type":"string","minLength":1,"maxLength":128,"default":"other"},"usesMetric":{"type":"boolean","description":"Whether the event's diagram uses metric units.","default":false},"externalEventId":{"type":"string","minLength":1,"maxLength":229,"description":"An (optional) external identifier for the event, which can be used to associate it with an event in an external system. An error will occur if this value is already in use by another event."},"diagrams":{"type":"array","minItems":1,"items":{"$ref":"#/definitions/EventDiagramsIntegrationPostBody_Diagram-layout-automation-service"}}},"required":["eventName","startTime","endTime","externalEventId","diagrams"],"example":{"eventName":"Event Diagramming Conference","startTime":"2025-04-01T00:00:00Z","endTime":"2025-04-04T23:59:59Z","public":true,"category":"Conference","usesMetric":false,"externalEventId":"external-event-123","diagrams":[{"diagramName":"Keynote Speech -- Main Ballroom","externalDiagramId":"external-diagram-123","externalPropertyId":"property-456","externalRoomId":"room-789"}]}},"EventDiagramsIntegrationPostBody_Diagram-layout-automation-service":{"type":"object","properties":{"diagramName":{"type":"string","minLength":1,"maxLength":255},"externalPropertyId":{"type":"string","minLength":1,"maxLength":229,"description":"An external identifier for the property at which the event is to occur."},"externalRoomId":{"type":"string","minLength":1,"maxLength":229,"description":"An external identifier for the room in which the event is to occur."},"externalDiagramId":{"type":"string","minLength":1,"maxLength":229,"description":"An external identifier for the diagram, which can be used to associate it with a booking in an external system. An error will occur if this value is already in use by another diagram."}},"required":["diagramName","externalPropertyId","externalRoomId","externalDiagramId"]},"ErrorResponse-layout-automation-service":{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem."},"status":{"type":"integer","minimum":400,"maximum":599,"description":"The HTTP status code corresponding to this problem."},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem."},"key":{"type":"string","description":"A canonical name representing the type of the error."},"requestId":{"type":"string","description":"A unique identifier for this request, which can be used to help with debugging and support."}},"required":["title","status","key","requestId"],"discriminator":"key"},"ErrorResponse_ValidationFailed-layout-automation-service":{"allOf":[{"$ref":"#/definitions/ErrorResponse-layout-automation-service"},{"type":"object","properties":{"key":{"type":"string","enum":["validation_failed"]},"status":{"type":"integer","enum":[422]},"errors":{"type":"array","items":{"$ref":"#/definitions/ValidationErrorDetail-layout-automation-service"}}}}],"example":{"key":"validation_failed","title":"Validation Failed","status":422,"detail":"One or more input fields failed validation","errors":[{"field":"diagrams[0].diagramName","message":"Required"},{"field":"diagrams[0].roomId","message":"Invalid identifier","value":"invalid-room-id"}],"requestId":"c6045f60-7053-418f-9ab7-7bfa95a0583c"}},"ValidationErrorDetail-layout-automation-service":{"type":"object","properties":{"message":{"type":"string","description":"A human-readable explanation of why the field failed validation."},"field":{"type":"string","description":"The path to the field that failed validation. In the case of nested fields, this will be a dot-separated path, plus an array index for fields nested in an array (e.g., 'diagrams[0].roomId' would indicate a validation failure in the 'roomId' field of the first provided value in the 'diagrams' field)."},"value":{"type":"object","description":"The original value that was provided for the field. May be of any type."}},"required":["message"]},"ErrorResponse_ExternalIdConflict-layout-automation-service":{"allOf":[{"$ref":"#/definitions/ErrorResponse-layout-automation-service"},{"type":"object","properties":{"conflictingDiagrams":{"type":"array","items":{"type":"object","properties":{"diagramId":{"type":"string"},"diagramName":{"type":"string"},"diagramUrl":{"type":"string","format":"uri","description":"A URL that can be used to view the diagram in the web application."},"externalDiagramId":{"type":"string"},"externalEventId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"eventUrl":{"type":"string","format":"uri","description":"A URL that can be used to view the event containing the conflicting diagram in the web application."}},"required":["diagramId","diagramName","diagramUrl","externalDiagramId","eventUrl"]},"description":"An array of objects representing the existing diagrams that have the provided external diagram ID. This property will be present only when the response's `key` value is `external_diagram_id_conflict`."},"conflictingEvents":{"type":"array","items":{"type":"object","properties":{"eventId":{"type":"string"},"externalEventId":{"type":"string"},"eventUrl":{"type":"string","format":"uri","description":"A URL that can be used to view the conflicting event in the web application."}},"required":["eventId","externalEventId","eventUrl"]},"description":"An array of objects representing the existing event(s) that have the provided external diagram ID. This property will be present only when the response's `key` value is `external_event_id_conflict`."}}}],"description":"An error response that indicates that a provided external event or diagram ID is already in use by an existing event or diagram.","example":{"key":"external_diagram_id_conflict","title":"External Diagram ID already in use","status":409,"detail":"One or more of the provided external diagram IDs are already in use","conflictingDiagrams":[{"diagramId":"c9069ae3-0741-4c88-a3f7-89f0f40a1234","diagramName":"Keynote Speech -- Main Ballroom","diagramUrl":"https://diagram.socialtables.com/diagram/c9069ae3-0741-4c88-a3f7-89f0f40a1234","externalDiagramId":"external-diagram-123","externalEventId":"external-event-123","createdAt":"2024-10-14T16:42:35.000Z","updatedAt":"2024-12-15T12:42:35.000Z","eventUrl":"https://home.socialtables.com/events/1fde7979-c808-4524-9a58-7d96a0123456"},{"diagramId":"c6045f60-7053-418f-9ab7-7bfa95a0432b","diagramName":"Breakout Session -- Room 101","diagramUrl":"https://diagram.socialtables.com/diagram/c6045f60-7053-418f-9ab7-7bfa95a0432b","externalDiagramId":"external-diagram-101","externalEventId":"external-event-123","createdAt":"2025-03-25T18:42:35.000Z","updatedAt":"2025-03-25T18:42:35.000Z","eventUrl":"https://home.socialtables.com/events/1fde7979-c808-4524-9a58-7d96a0123456"}],"requestId":"c6045f60-7053-418f-9ab7-7bfa95a0583c"}},"data-social-tables-api":{"properties":{}},"PostTeamsTeamBookableRoomFavoritesBody-social-tables-api":{"properties":{"bookable_room_root_id":{"type":"number","description":"ID of the bookable room"}},"required":["bookable_room_root_id"]},"PostTeamsTeamBookableRoomFavoritesBulkBody-social-tables-api":{"properties":{"bookable_room_root_ids":{"type":"array","description":"IDs of the bookable rooms","items":{"type":"number"}}},"required":["bookable_room_root_ids"]},"PutFloorplanBrandingConfigsPropertiesPropertyBody-social-tables-api":{"properties":{"brand_code":{"type":"string","description":"brand code you want to associate this property with"},"iso_country":{"type":"string","description":"iso country code for the property"},"unit_measurement":{"type":"string","description":"unit of measurement for the property (imperial | metric)"},"phone_number":{"type":"string","description":"phone number to display on the branded floorplan"}}},"PutPropertiesPropertyFloorplanBrandingConfigBody-social-tables-api":{"properties":{"name":{"type":"string","description":"brand code you want to associate this property with"},"iso_country":{"type":"string","description":"iso_country iso country code for the property"},"unit_measurement":{"type":"string","description":"unit_measurement unit of measurement for the property (imperial | metric)"},"phone_number":{"type":"string","description":"phone number to display on the branded floorplan"}}},"PutCatalogsCatalogBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this catalog"},"team_id":{"type":"number","description":"ID of the team that &quot;owns&quot; this catalog"},"view_type":{"type":"string","description":"Visibility of this catalog"},"published":{"type":"boolean","description":"Whether or not the catalog is published"},"published_by":{"type":"number","description":"ID of the user that published the catalog"},"type":{"type":"string","description":"Whether it is a venue or rental catalog"},"type_id":{"type":"number","description":"ID of the associated type"}}},"PutCatalogsCatalogCategoriesCategoryBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this category"}},"required":["name"]},"PutCatalogsCatalogCategoriesCategoryTypesTypeBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this type"},"attributes":{"type":"object","description":"An Object describing the type's attributes"},"schema":{"type":"string","description":"Whether the type is a 'table' (seatable) or 'object' (non- seatable) item. Most types should be objects."},"thumbnail":{"type":"string","description":"Path to the type's thumbnail image"},"shape":{"type":"string","description":"Shape that dictates the type's behavior, e.g. circle-shaped types change size with their radius while rectangle-shaped types change size based on width and length attributes."}}},"PutCatalogsCatalogCategoriesCategoryTypesTypeItemsItemBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this item"},"attributes":{"type":"object","description":"An Object describing the item's attributes (inherited from the parent type)"},"two_view":{"type":"object","description":"An Object describing the WebGL data necessary to render the object in 2D -- this requires meshes and icons fields, at least."},"three_view":{"type":"object","description":"An Object describing the WebGL data necessary to render the object in 3D -- this requires at least a mesh field."},"thumbnail":{"type":"string","description":"Path to the item's thumbnail image"},"notes":{"type":"string","description":"Notes associated with the item"},"count":{"type":"number","description":"Total number of available items"},"description":{"type":"string","description":"Description of the item"}}},"PostCatalogsCatalogBlacklisted_teamsTeamBody-social-tables-api":{"properties":{"data":{"type":"string","description":""}},"required":["data"]},"PostCatalogsBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this catalog"},"team_id":{"type":"number","description":"ID of the team that &quot;owns&quot; this catalog"},"view_type":{"type":"string","description":"Visibility of this catalog"},"published":{"type":"boolean","description":"Whether or not the catalog is published"},"published_by":{"type":"number","description":"ID of the user that published the catalog"},"thumbnail":{"type":"string","description":"Link to associated thumbnail image"},"type":{"type":"string","description":"Whether it is a venue or rental catalog"},"type_id":{"type":"number","description":"ID of the associated type"}}},"PostCatalogsCatalogCategoriesBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this category"}},"required":["name"]},"PostCatalogsCatalogCategoriesCategoryTypesBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this type"},"attributes":{"type":"object","description":"An Object describing the type's attributes -- this is a map of attribute names to nested objects holding the value and whether or not the attribute is &quot;fixed&quot; i.e. editable."},"schema":{"type":"string","description":"Whether the type is a 'table' (seatable) or 'object' (non- seatable) item. Most types should be objects."},"thumbnail":{"type":"string","description":"Path to the type's thumbnail image"},"shape":{"type":"string","description":"Shape that dictates the type's behavior, e.g. circle-shaped types change size with their radius while rectangle-shaped types change size based on width and length attributes."}},"required":["name","attributes","schema","thumbnail","shape"]},"PostCatalogsCatalogCategoriesCategoryTypesTypeItemsBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this item"},"attributes":{"type":"object","description":"An Object describing the item's attributes (inherited from the parent type)"},"two_view":{"type":"object","description":"An Object describing the WebGL data necessary to render the object in 2D -- this requires meshes and icons fields, at least."},"three_view":{"type":"object","description":"An Object describing the WebGL data necessary to render the object in 3D -- this requires at least a mesh field."},"thumbnail":{"type":"string","description":"Path to the item's thumbnail image"},"notes":{"type":"string","description":"Notes associated with the item"},"count":{"type":"number","description":"Total number of available items"},"description":{"type":"string","description":"Description of the item"}}},"PostCatalogItemsItemThumbnailBody-social-tables-api":{"properties":{"file":{"type":"object","description":"Uploaded file"}},"required":["file"]},"PostCatalogItemsItemViewsBody-social-tables-api":{"properties":{"files":{"type":"object","description":"Uploaded file"}},"required":["files"]},"PostCatalogItemsStandardItemBody-social-tables-api":{"properties":{"model_file":{"type":"object","description":"Uploaded GLB file"}},"required":["model_file"]},"PostCatalogItemsStandardPromoteBody-social-tables-api":{"properties":{"body":{"type":"array","description":"JSON array of standard catalog item names to promote (ie. [&quot;table-circle&quot;, &quot;chair-chiavari&quot;])","items":{"type":"string"}}},"required":["body"]},"PostCatalogsCatalogCategoriesCategoryTypesTypeItemsItemReplaceBody-social-tables-api":{"properties":{"name":{"type":"string","description":"A name for this item"},"attributes":{"type":"object","description":"An Object describing the item's attributes"},"two_view":{"type":"object","description":"An Object describing the WebGL data necessary to render the object in 2D -- this requires meshes and icons fields, at least."},"three_view":{"type":"object","description":"An Object describing the WebGL data necessary to render the object in 3D -- this requires at least a mesh field."},"thumbnail":{"type":"string","description":"Path to the item's thumbnail image"},"notes":{"type":"string","description":"Notes associated with the item"},"count":{"type":"number","description":"Total number of available items"},"description":{"type":"string","description":"Description of the item"}}},"PatchContactsContact_idBody-social-tables-api":{"properties":{"teamId":{"type":"number","description":"ID of the team associated with the contact (Query parameter)"}},"required":["teamId"]},"PostContactsBody-social-tables-api":{"properties":{"team_id":{"type":"number","description":"ID of the team associated with the contact"},"email":{"type":"string","description":"Email address of the contact"},"name":{"type":"string","description":"Name of the contact"},"phone_number":{"type":"string","description":"Phone number of the contact"},"company":{"type":"string","description":"Company name associated with the contact"},"category_id":{"type":"string","description":"Category ID for the contact"},"address":{"type":"string","description":"Address of the contact"},"website":{"type":"string","description":"Website URL of the contact"},"notes":{"type":"string","description":"Additional notes about the contact"}},"required":["team_id","email","name"]},"PostContactsBulkBody-social-tables-api":{"properties":{"team_id":{"type":"number","description":"ID of the team associated with the contact"},"email":{"type":"string","description":"Email address of the contact"},"name":{"type":"string","description":"Name of the contact"},"phone_number":{"type":"string","description":"Phone number of the contact"},"company":{"type":"string","description":"Company name associated with the contact"},"category_id":{"type":"string","description":"Category ID for the contact"},"address":{"type":"string","description":"Address of the contact"},"website":{"type":"string","description":"Website URL of the contact"},"notes":{"type":"string","description":"Additional notes about the contact"}},"required":["team_id","email","name"]},"PostDiagramBody-social-tables-api":{"properties":{"team_id":{"type":"number","description":"id of team"},"name":{"type":"string","description":"Name of the space"},"floorPlan":{"type":"object","description":""},"event_id":{"type":"string","description":"uid of event to add diagram to"},"event_name":{"type":"string","description":"name of new event to add diagram to"},"event_start_date":{"type":"string","description":"timestamp of event start date"},"event_end_date":{"type":"string","description":"timestamp of event end date"},"layout_id":{"type":"string","description":"uid of layout to be created on the diagram"},"start_datetime":{"type":"string","description":"timestamp of diagram start datetime"},"end_datetime":{"type":"string","description":"timestamp of diagram end datetime"}},"required":["team_id","name","floorPlan"]},"Put40EventsEventBody-social-tables-api":{"properties":{"name":{"type":"string","description":"Name of the event"},"category":{"type":"string","description":"Type of event. For example: Athletic, Catered Meal, Ceremony, Class/Lecture, Concert, Conference, Executive Meeting, Trade Show, Reception, Training"},"start_epoch":{"type":"string","description":"Start date in milliseconds since epoch"},"end_epoch":{"type":"string","description":"End date in milliseconds since epoch"},"industry":{"type":"string","description":"Industry associated with the event. Association, Corporate, Education, Government, Nonprofit, Religious, Social"},"is_public":{"type":"boolean","description":"Whether to make this event and its diagrams public. Defaults to false."},"uses_metric":{"type":"boolean","description":"Whether to use metric system. Defaults to false"},"archived":{"type":"boolean","description":"Whether to archive/delete the event. Defaults to false"}},"required":["name"]},"PutTeamsTeamEventsEventBody-social-tables-api":{"properties":{"name":{"type":"string","description":"Name of the event"},"industry":{"type":"string","description":"Industry of the event"},"status":{"type":"string","description":"Whether an event is currently counting against the team's event limit"},"category":{"type":"string","description":"Category describing the event"},"public":{"type":"boolean","description":"Whether the event is publicly viewable or not"},"has_time":{"type":"boolean","description":"Whether the event has a time component specified in the start_time and end_time fields"},"attendee_management":{"type":"boolean","description":"Whether to activate attendee management for the event"},"last_activity":{"type":"string","description":"The last time the event had activity on it or any diagram, guestlist, or document."},"start_time":{"type":"string","description":"The event's start time. Note that this must be in ISO-8601 format, in UTC (YYYY-MM-DDTHH:mm:ss.sssZ)"},"end_time":{"type":"string","description":"The event's end time. Note that this must be in ISO-8601 format (see above)"},"uses_metric":{"type":"boolean","description":"Whether to use metric measurements"},"collaborators_expire_at":{"type":"string","description":"Date when collaborators' access expires. If provided, this must be in ISO-8601 format (see above)."},"screenshot_url":{"type":"string","description":"URL where a screenshot of the event floor can be found"},"is_archived":{"type":"number","description":"If 0, the event is unarchived. If 1, the event is archived"},"user_id":{"type":"number","description":"The id of the Social Tables user to associate with the event"},"team_id":{"type":"number","description":"The id of the Social Tables team to associate with the event"},"property_id":{"type":"number","description":"The id of the Social Tables property to associate with the event"}}},"Post40EventsBody-social-tables-api":{"properties":{"team_id":{"type":"number","description":"Legacy team id"},"name":{"type":"string","description":"Name of the event"},"category":{"type":"string","description":"Type of event. For example: Athletic, Catered Meal, Ceremony, Class/Lecture, Concert, Conference, Executive Meeting, Trade Show, Reception, Training"},"start_epoch":{"type":"string","description":"Start date in milliseconds since epoch"},"end_epoch":{"type":"string","description":"End date in milliseconds since epoch"},"industry":{"type":"string","description":"Industry associated with the event. Association, Corporate, Education, Government, Nonprofit, Religious, Social"},"is_public":{"type":"boolean","description":"Whether to make this event and its diagrams public"},"uses_metric":{"type":"boolean","description":"Whether to use metric system. Defaults to false"}},"required":["name","category"]},"PostTeamsTeamEventsBody-social-tables-api":{"type":"object","required":["name","category","spaces"],"properties":{"name":{"type":"string"},"category":{"type":"string"},"public":{"type":"boolean"},"attendee_management":{"type":"boolean"},"start_time":{"type":"string","format":"date-time"},"end_time":{"type":"string","format":"date-time"},"uses_metric":{"type":"boolean"},"spaces":{"type":"array","items":{"$ref":"#/definitions/Space-social-tables-api"}}}},"PostEventsEventCloneBody-social-tables-api":{"properties":{"team_id":{"type":"number","description":"Team ID for the cloned event"},"with_changes":{"type":"object","description":"Changes to apply to the cloned event"},"with_changes[name]":{"type":"string","description":"Name for the cloned event"},"with_changes[is_public]":{"type":"boolean","description":"Whether the cloned event is publicly viewable or not"},"with_changes[start_time]":{"type":"string","description":"The cloned event's start time. Iso-8601 format, in UTC (YYYY-MM-DDTHH:mm:ss.sssZ)"},"with_changes[end_time]":{"type":"string","description":"The cloned event's end time. Iso-8601 format, in UTC (YYYY-MM-DDTHH:mm:ss.sssZ)"}}},"PostEventsEventDiagramSuggestionsDocumentidBody-social-tables-api":{"properties":{"parseId":{"type":"string","description":"Parse ID to retrieve document data from Redis"},"filterType":{"type":"string","description":"Filter type for property search"},"teamId":{"type":"number","description":"ID of the team creating the suggestions"}},"required":["teamId"]},"PostEventsTransferBody-social-tables-api":{"properties":{"oldTeam":{"type":"number","description":"ID of the team to transfer events from"},"newTeam":{"type":"number","description":"ID of the team to transfer events to"},"userId":{"type":"number","description":"Optional user ID to filter events by owner. When provided, only events owned by this user on oldTeam are transferred."},"event_platform":{"type":"string","description":"Filter by event platform. 'prismm' transfers only Prismm events, 'ced' transfers only CED events, 'all' or omitted transfers all events."}},"required":["oldTeam","newTeam"]},"PutEventsUidLast_activityBody-social-tables-api":{"properties":{"last_activity":{"type":"string","description":"last activity as a string in iso format like (2024-12-09T21:24:43.000Z)"}},"required":["last_activity"]},"PostTeamsTeamFeaturesFeatureBody-social-tables-api":{"properties":{"start_date":{"type":"string","description":"Date in ISO-8601 format"},"end_date":{"type":"string","description":"Date in ISO-8601 format"},"expiration_type":{"type":"string","description":""}},"required":["start_date","end_date","expiration_type"]},"PutTeamsTeamFeaturesFeatureBody-social-tables-api":{"properties":{"start_date":{"type":"string","description":"Date in ISO-8601 format"},"end_date":{"type":"string","description":"Date in ISO-8601 format"},"expiration_type":{"type":"string","description":""}},"required":["start_date","end_date","expiration_type"]},"PostTeamsTeamFeaturesBody-social-tables-api":{"properties":{"products":{"type":"object","description":"Object describing the feature-set to create, with a feature name as the key and an object containing feature data as the value. Each feature entry is described under the Products sub-description."},"package":{"type":"object","description":"Object describing a bundle of features to assign."},"start_date":{"type":"string","description":"Date in ISO-8601 format"},"end_date":{"type":"string","description":"Date in ISO-8601 format"},"expiration_type":{"type":"string","description":""},"package_type":{"type":"string","description":""}},"required":["start_date","end_date","expiration_type","package_type"]},"PutTeamsTeamFeaturesBody-social-tables-api":{"properties":{"products":{"type":"object","description":"Object describing the feature-set to create, with a feature name as the key and an object containing feature data as the value. Each feature entry is described under the Products sub-description."},"package":{"type":"object","description":"Object describing a bundle of features to assign."},"start_date":{"type":"string","description":"Date in ISO-8601 format"},"end_date":{"type":"string","description":"Date in ISO-8601 format"},"expiration_type":{"type":"string","description":""},"package_type":{"type":"string","description":""}},"required":["start_date","end_date","expiration_type","package_type"]},"PutOnsitesOnsiteBody-social-tables-api":{"properties":{"json":{"type":"string","description":"Any JSON-serialized data to store for the onsite configuration settings."}},"required":["json"]},"PutIfpConfigurationsOnsite_idBody-social-tables-api":{"properties":{"property_id":{"type":"number","description":"Property ID"},"json":{"type":"object","description":"JSON data for the onsite configuration settings."},"external_id":{"type":"string","description":"External ID"},"is_csn_metadata":{"type":"boolean","description":"CSN Metadata flag"}}},"PostIfpConfigurationsBody-social-tables-api":{"properties":{"property_id":{"type":"number","description":"Property ID"},"json":{"type":"object","description":"JSON data for the onsite configuration settings."},"external_id":{"type":"string","description":"External ID"},"is_csn_metadata":{"type":"boolean","description":"CSN Metadata flag"}}},"PostOnsiteBody-social-tables-api":{"properties":{"json":{"type":"string","description":"Any JSON-serialized data to store for the onsite configuration settings."}},"required":["json"]},"PostOnsitesDoNotSellRequestsBody-social-tables-api":{"properties":{"email":{"type":"string","description":"The email address of the user making the request"},"first_name":{"type":"string","description":"The first name of the user making the request"},"last_name":{"type":"string","description":"The last name of the user making the request"},"action":{"type":"string","description":"The action being requested (e.g. DO_NOT_SELL, OK_TO_SELL)"},"compliance_scope":{"type":"string","description":"The compliance scope of the request (e.g. CCPA, GDPR)"},"domain":{"type":"string","description":"The domain of the request"}}},"PostOnsitesDownloadFloorplanLogsBody-social-tables-api":{"properties":{"property_name":{"type":"string","description":"The name of the property"},"v2_property_id":{"type":"number","description":"The v2 property ID"},"contact_me":{"type":"boolean","description":"Whether the user wants to be contacted"},"v4_property_id":{"type":"string","description":"The v4 property ID"},"v2_room_id":{"type":"number","description":"The v2 room ID"},"v4_room_id":{"type":"string","description":"The v4 room ID"},"email":{"type":"string","description":"The email address of the user who perfomed the download"},"session":{"type":"string","description":"The session ID for the onsite session"}}},"PostOnsitesRfiLogsBody-social-tables-api":{"properties":{"property_name":{"type":"string","description":"The name of the property"},"v2_property_id":{"type":"number","description":"The v2 property ID"},"v4_property_id":{"type":"string","description":"The v4 property ID"},"v2_team_id":{"type":"number","description":"The v2 team ID"},"v4_team_id":{"type":"string","description":"The v4 team ID"},"room_count":{"type":"number","description":"The number of rooms"},"target_system":{"type":"string","description":"The target system (eg. 'email &amp; propose', 'email', 'propose')"},"fullName":{"type":"string","description":"The full name of the user making the request"},"email":{"type":"string","description":"The email address of the user making the request"},"attendee_count":{"type":"number","description":"The number of attendees"},"comments":{"type":"string","description":"Any additional comments"},"startDate":{"type":"string","description":"The start date of the event. This must be an ISO 8601 string in Zulu time. Ex: an event on January 1st, 2025 at 6:00PM EST should be sent as &quot;2025-01-01T18:00:000Z&quot;"},"endDate":{"type":"string","description":"The end date of the event. This must be an ISO 8601 string in Zulu time. Ex: an event on January 1st, 2025 at 6:00PM EST should be sent as &quot;2025-01-01T18:00:000Z&quot;"},"budget":{"type":"number","description":"The budget for the event"},"budget_currency":{"type":"string","description":"The currency of the budget (eg. 'USD', 'EUR')"},"metadata":{"type":"object","description":"Additional metadata including &quot;organization&quot;, &quot;areDatesFlexible&quot;, and &quot;needsFoodAndBeverage&quot;"},"raw_rfi":{"type":"object","description":"The entire raw RFI"},"guest_rooms":{"type":"object","description":"Array of guest rooms with date and room count"},"event_type":{"type":"string","description":"The type of event (eg. 'meeting', 'conference')"},"country_code":{"type":"string","description":"The country code for the requester's phone number"},"phone_number":{"type":"string","description":"The requester's phone number"},"phone_ext":{"type":"string","description":"The requester's phone extension"},"address":{"type":"string","description":"The requester's address"},"city":{"type":"string","description":"The city of the requester's address"},"state":{"type":"string","description":"The state of the requester's address"},"country":{"type":"string","description":"The country of the requester's address"},"zip":{"type":"string","description":"The zip code of the requester's address"}}},"PutOnsitesUpdateNamesBody-social-tables-api":{"properties":{"JSON":{"type":"string","description":"containing property_id, property_name, root_id, floor_name"}},"required":["JSON"]},"PostTeamsTeamidPlanDowngradeScheduleBody-social-tables-api":{"properties":{"plan_name":{"type":"string","description":"Target plan name to downgrade to"},"billing_cycle":{"type":"string","description":"Billing cycle for the subscription"},"email":{"type":"string","description":"User email address"}},"required":["plan_name","billing_cycle","email"]},"PostStripeWebhookBody-social-tables-api":{"properties":{"type":{"type":"string","description":"Stripe event type (e.g. customer.subscription.updated)"},"id":{"type":"string","description":"Stripe event ID"},"data":{"type":"object","description":"Stripe event data envelope"}},"required":["type","id","data"]},"dataBody-social-tables-api":{"properties":{"object":{"type":"object","description":"The Stripe subscription object for the event"},"previous_attributes":{"type":"object","description":"Previous attribute values before the update"}},"required":["object"]},"PostTeamsPlanBody-social-tables-api":{"properties":{"plan_name":{"type":"string","description":"Name of the plan"},"email":{"type":"string","description":"Email address of the user/team owner"},"billing_cycle":{"type":"string","description":"Billing cycle for the plan"},"address":{"type":"object","description":"Billing address for tax validation"}},"required":["plan_name","email","billing_cycle","address"]},"addressBody-social-tables-api":{"properties":{"country":{"type":"string","description":"Country code (e.g. &quot;US&quot;)"},"line1":{"type":"string","description":"Street address line 1"},"city":{"type":"string","description":"City name"},"postal_code":{"type":"string","description":"Postal/ZIP code"},"state":{"type":"string","description":"State or province (e.g. &quot;VA&quot;)"}},"required":["country","line1","city","postal_code","state"]},"PostTeamsPlanConfirmBody-social-tables-api":{"properties":{"subscription_id":{"type":"string","description":"Stripe subscription ID returned by POST /teams/plan"},"email":{"type":"string","description":"Email address of the user/team owner (same as used in POST /teams/plan)"}},"required":["subscription_id","email"]},"PostTeamsPlanSetupIntentBody-social-tables-api":{"properties":{"email":{"type":"string","description":"Email address of the user/team owner"},"address":{"type":"object","description":"Billing address for tax validation (required)"}},"required":["email","address"]},"PostTeamsTeamidPlanCancelBody-social-tables-api":{"properties":{"-":{"type":"object","description":"No body parameters required"}},"required":["-"]},"PostTeamsTeamidPlanReactivateBody-social-tables-api":{"properties":{"-":{"type":"object","description":"No body parameters required"}},"required":["-"]},"PostTeamsTeamidPlanUpgradeConfirmBody-social-tables-api":{"properties":{"email":{"type":"string","description":"User email address"},"billing_cycle":{"type":"string","description":"Billing cycle for the subscription"},"plan_name":{"type":"string","description":"Name of the subscription plan"},"address":{"type":"object","description":"Billing address (required when upgrading from free plan)"}},"required":["email","billing_cycle","plan_name"]},"PostTeamsTeamidPlanUpgradePreviewBody-social-tables-api":{"properties":{"billing_cycle":{"type":"string","description":"Billing cycle for the subscription"},"plan_name":{"type":"string","description":"Name of the subscription plan"}},"required":["billing_cycle","plan_name"]},"PutTeamsTeamidBillingInfoBody-social-tables-api":{"properties":{"email":{"type":"string","description":"Email address of the user/team owner"},"payment_method":{"type":"string","description":"Stripe PaymentMethod ID (pm_xxx), obtained from stripe.confirmCardSetup() on the frontend after 3DS authentication (if required by card issuer)"}},"required":["email","payment_method"]},"PostPrismmQueueBody-social-tables-api":{"properties":{"items":{"type":"array","description":"Array of queue items to create","items":{"type":"object"}}},"required":["items"]},"itemsBody-social-tables-api":{"properties":{"source_type":{"type":"string","description":"Source type: occasions, users, occasionvendors, vendors"},"source_id":{"type":"number","description":"Source record ID"},"operation":{"type":"string","description":"Operation: insert, update, delete, migrate"},"status":{"type":"string","description":"Status (default: queued)"},"attempt_count":{"type":"number","description":"Attempt count (default: 0)"},"next_attempt_at":{"type":"string","description":"Next attempt timestamp"},"last_error":{"type":"string","description":"Last error message"},"processed_at":{"type":"string","description":"Processed at timestamp"},"metadata":{"type":"object","description":"Metadata object"},"results":{"type":"string","description":"Results"}},"required":["source_type","source_id","operation"]},"PostPrismmQueueProcessBody-social-tables-api":{"properties":{"No":{"type":"object","description":"body parameters required"}},"required":["No"]},"PutPrismmQueueItem_idBody-social-tables-api":{"properties":{"source_type":{"type":"string","description":"Source type: occasions, hosts, occasionvendors, vendors"},"source_id":{"type":"number","description":"Source record ID (positive integer)"},"operation":{"type":"string","description":"Operation: insert, update, delete, migrate"},"status":{"type":"string","description":"Status: queued, in_process, completed, retry, failed"},"attempt_count":{"type":"number","description":"Attempt count"},"next_attempt_at":{"type":"string","description":"Next attempt timestamp"},"last_error":{"type":"string","description":"Last error message"},"processed_at":{"type":"string","description":"Processed at timestamp"},"metadata":{"type":"object","description":"Metadata object"},"results":{"type":"string","description":"Results"}}},"PostTeamsTeamidProductAccessBody-social-tables-api":{"properties":{"product_id":{"type":"number","description":"ID of product for which the team ID will have access"}}},"PostAdminSamlIdpBody-social-tables-api":{"properties":{"body":{"type":"object","description":"JSON object with idp settings"}},"required":["body"]},"PostAdminSamlIdpIdpidBod
[...]
